﻿  
/*-------------------------------------------*/
/* #Tablet (Portrait)*/
/*-------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
h1 {
   font-size: 20px;
}

h1 span strong {
    font-size: 35px;
}

/*--------------------------------------*/
/*COLUMNS*/
/*--------------------------------------*/
.container { width: 708px; }
.one-half { width: 324px; }
.one-third { width: 222px; }
.two-third { width: 464px; }
.one-fourth { width: 162px; }	
.three-fourth { width: 526px; }
.one-half,.one-third,.two-third,.one-fourth,.three-fourth,.one-column {float: left;margin-right: 20px;margin-bottom: 20px;}
.one-half.last,.one-third.last,.two-third.last,.one-fourth.last,.three-fourth.last {  margin-right: 0px }
/*--------------------------------------*/
/*MAIN NAVIGATION*/
/*--------------------------------------*/
#main-navigation {
	width:500px;
}

#main-navigation ul li {
	margin:0 0 0 10px;
}

#main-navigation li a {
	color: #898989;
	font-family: 'Dosis', 'Verdana', sans-serif;
	font-size: 16px;
	font-weight:normal;
	display: block;
	padding: 47px 7px 50px 7px;
	margin:0px 0px 10px 0;
	position: relative;
	text-align: center;
	text-transform:uppercase;			 
}

#responsive-main-nav-menu {
    display: block;
    width: 205px;
    float: left;
    height: 30px;
    color: #fff;
    border: none;
    background: inherit;
    -webkit-appearance: none;
    -o-appearance: none;
    appearance: none;
}

#responsive-main-nav-wrapper {
    display: block;
    width: 180px;
    float: left;
    margin-top: 21px;
    height: 30px;
    position: relative;
    overflow: hidden;
    background: url(../images/nav-menu-icon.png) no-repeat 155px 8px;
}

#main-navigation { display: none; }
#navigation-wrapper #main-navigation ul { display: none }

/*--------------------------------------*/
/*BODY LAYOUT*/
/*--------------------------------------*/
#page { }

#section-top {
    margin-bottom: 40px;
}

#footer {
	width:auto;
	padding:30px 0px 0;
	margin:0px;
	height:auto;
	background:#363839;
}

#copyrights {
	width:auto;
	padding:10px 0px 10px 0px;
	margin-left:0px;
	float:none;
	background:#2e2f30;
}

#copyrights .right { float: right; margin-top: 3px;}

.center-page {
	height: auto;
	width: auto;
	margin:0 auto;
	padding: 0px;
}

.intro-page h2 {
    color: #444444;
    font-size: 30px;
    font-family: 'Open Sans','Oswald',sans-serif,arial;
    font-weight: normal;
    line-height: 140%;
    letter-spacing: 0.4px;
    text-align: center;
}

.intro-page {
    width: 666px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto 45px;
}

#footer-form input[type="text"],
#footer-form input[type="password"],
#footer-form input[type="email"],
#footer-form textarea,
#footer-form select {
    width: 152px;
}

/*--------------------------------------*/
/*PRICING TABLE*/
/*--------------------------------------*/
.pricing-box-list-box .one-fourth {
	width:222px!important;
}

/*BEST PRICE */
.pricing-box-list-box #on {
    width: 222px;
    margin-left: 0;
    margin-top: -10px;
}

.pricing-box-list-box #on .pricing-heading {
    padding: 30px 0 30px 0;
    color: #fff;
}

.pricing-box-list-box #on .pricing-plan-button {
    margin: 20px 0 20px 0;
}
/*--------------------------------------*/
/*INTRO PAGE IMG */
/*--------------------------------------*/
.page-title-heading {
    width: 100%;
    margin-top: 0;
    margin-bottom: 40px;
}
/*--------------------------------------*/
/*BLOG LAYOUT */
/*--------------------------------------*/
.entry-body {float: left;margin: 10px 0 0 0;width: 100% !important;}

.post-meta {
    margin: 0;
    width: 100px;
    height: auto;
    display: block;
    position: relative;
}

.entry-content {
    width: 425px;
    float: right;
}

.sidebar-line-left {
    border-right: none;
}

.sidebar-line-right {
    border-left: none;
    padding-left: 0;
}

/* GALLERY Post Format*/
.post-flex-slider .flexslider{
    width: 425px;
    height: 200px;
    overflow: hidden;
    margin: 0 0 0 -20px;
}

.post-flex-slider ul.flex-direction-nav li a{
    margin-top: -195px;
}

/* IMAGE Post Format*/
.image-post-format{
    width: 425px;
    height: 200px;
    position: relative;
    display: block;
    overflow: hidden;
}
/*--------------------------------------*/
/*HOMEPAGE PORTFOLIO CAROUSEL*/	
/*--------------------------------------*/
ul#projects-carousel li {  width:169px; margin-right: 10px; }
ul#projects-carousel li .item-content{ width:169px; }
.carousel-hover-title{ position: absolute; padding: 0; font-size: 12px; height: auto; width: 100%; bottom: 20px; z-index: 1000; display: block; }
.portfolio-item-hover-content a.zoom { margin-top: 37%; }
.portfolio-item-hover-content a.full-width-link { margin-top: 37%; }

.jcarousel-next,
.jcarousel-prev {
    cursor: pointer;
    height: 17px;
    position: absolute;
    right: 0;
    top: -35px;
    width: 17px;
    transition: background-color 0.2s ease 0s, border 0.2s ease 0s, color 0.2s ease 0s, opacity 0.2s ease-in-out 0s;
    z-index: 100;
}

.jcarousel-prev {
    right: 20px;
}
/*--------------------------------------*/
/*OTHER STUFF*/
/*--------------------------------------*/
.flex-caption h2{ color:#fff;font-size:23px;text-shadow:none;}
.view-portfolio-button{padding:10px 20px;font-size:12px;}

.slider-shadow {
    background: url('../images/slider-shadow768.png') no-repeat center center;
    width: 707px;
    height: 25px;
    float: left;
    position: relative;
    display: block;
}

#call-to-action-shadow {
    background: url('../images/call-to-action-shadow768.png') no-repeat center center;
    width: 707px;
    height: 18px;
    float: left;
    margin-bottom: -24px;
}

#call-to-action-box {
    width: 648px;
    min-height: 10px;
    background-color: #fafafa;
    border: 1px solid #ededed;
    padding: 20px 30px 20px 30px;
    display: block;
    float: left;
    text-align: center;
}

#call-to-action-box .one_fourth {
    width: 100%
}

#call-to-action-box  .readmore.large a {
    width: 100%;
    padding: 3px 0 4px 0;
    text-align: center;
    margin-top: 10px;
}

#contactForm input[type="text"],
#contactForm input[type="password"],
#contactForm  input[type="email"] {
    width: 90%;
}

#contactForm  textarea {
    width: 690px;
}
/*--------------------------------------*/
/*PORTFOLIO LAYOUTS*/
/*--------------------------------------*/
.portfolio-item-holder {
    height: auto !important;
    margin-bottom: 0;
    overflow: hidden;
    position: relative;
}
ul.portfolio-items-one-fourth li { width: 169px; margin: 0 10px 20px 0; float: left; height: 231px; overflow: hidden; }
.portfolio-container{ width:728px;margin-right:-20px;float:left; }
 ul#portfolio-items-one-fourth { overflow: hidden;position: relative;list-style: none;margin: 0;padding: 0 0 0 0 ; }
ul#portfolio-items-one-fourth li { width:169px;min-height:180px; height:auto !important; margin-right: 10px;  }
ul#portfolio-items-one-fourth li .portfolio-item { float:left; background:#f8f9f9;width:169px;height:auto;padding:0; }
ul#portfolio-items-one-fourth li  .item-content { float:left;width:169px;text-align:center;padding: 0;height:auto; }
#portfolio-items-one-fourth .description { padding-top: 10px; }
ul#portfolio-items-one-fourth li .item-content:hover { }
ul#portfolio-items-one-fourth li .item-content p { margin:2px 0 1px 0 ;padding:0 ;font-weight: 600; }
ul#portfolio-items-one-fourth li .item-content p a { margin:0;padding:0;font-weight:400; }
ul#portfolio-items-one-fourth li  .item-content span { font-style:normal; }
ul#portfolio-items-one-fourth li   img { width:100%;height:auto;padding:0;margin:0; }

ul.portfolio-items-one-third li { width: 230px; margin: 0 10px 20px 0; float: left; height: 243px; overflow: hidden; }
ul#portfolio-items-one-third .portfolio-item-holder{ height: 180px !important; }
ul#portfolio-items-one-third { overflow: hidden;position: relative;list-style: none;margin: 0;padding: 0 0 0 0 ; }
ul#portfolio-items-one-third li { width:230px; min-height:180px; height:auto !important; margin-right: 10px;  }
ul#portfolio-items-one-third li .portfolio-item { float:left; background:#f8f9f9;width:230px;height:auto;padding:0; }
ul#portfolio-items-one-third li  .item-content { float:left;width:230px;text-align:center;padding: 0;height:auto; }
#portfolio-items-one-third .description { padding: 10px 0 10px 0; }
ul#portfolio-items-one-third li .item-content:hover { }
ul#portfolio-items-one-third li .item-content p { margin:0;padding:0 ;font-weight: 600; }
ul#portfolio-items-one-third li .item-content p a { margin:0;padding:0;font-weight:400; }
ul#portfolio-items-one-third li  .item-content span { font-style:normal; }
ul#portfolio-items-one-third li   img { width:100%;height:auto;padding:0;margin:0; }
ul#portfolio-items-one-third .portfolio-item-hover-content a.zoom { margin-top: 29%; }
ul#portfolio-items-one-third .portfolio-item-hover-content a.full-width-link { margin-top: 29%; }

ul.portfolio-items-one-half li { width: 349px; margin: 0 10px 20px 0; float: left; height: 313px; overflow: hidden; }
ul#portfolio-items-one-half .portfolio-item-holder{ height: 250px !important; }
ul#portfolio-items-one-half { overflow: hidden;position: relative;list-style: none;margin: 0;padding: 0 0 0 0 ; }
ul#portfolio-items-one-half li { width:349px; min-height:180px; height:auto !important; margin-right: 10px;  }
ul#portfolio-items-one-half li .portfolio-item { float:left; background:#f8f9f9;width:349px;height:auto;padding:0; }
ul#portfolio-items-one-half li  .item-content { float:left;width:349px;text-align:center;padding: 0;height:auto; }
#portfolio-items-one-half .description { padding: 10px 0 10px 0; }
ul#portfolio-items-one-half li .item-content:hover { }
ul#portfolio-items-one-half li .item-content p { margin:0;padding:0 ;font-weight: 600; }
ul#portfolio-items-one-half li .item-content p a { margin:0;padding:0;font-weight:400; }
ul#portfolio-items-one-half li  .item-content span { font-style:normal; }
ul#portfolio-items-one-half li   img { width:100%;height:auto;padding:0;margin:0; }
ul#portfolio-items-one-half .portfolio-item-hover-content a.zoom { margin-top: 29%; }
ul#portfolio-items-one-half .portfolio-item-hover-content a.full-width-link { margin-top: 29%; }

.three-fourth .portfolio-container {
    width: 537px;
}

.portfolio-items {
    width: 768px;
    margin: 0;
}

.portfolio-items:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

.portfolio-items-not-filterable {
    width: 768px;
    margin: 0;
}

.portfolio-items-not-filterable:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

.portfolio-items-not-filterable li {
    width: 236px!important;
    margin: 0 20px 0px 0!important;
    float: left;
    height: 260px!important;
    overflow: hidden;
}

.project-pagination{ margin-left:-20px; }
.project-pagination a {
	font-family:"Georgia",Arial,Verdana;
	font-size:11px;
	color:#d7d7d7;
	font-style:italic;
	margin:0px 0px 0 0;
}

#filterable  {
	display: inline;
	float: left;
	margin-bottom: 20px;
	margin-right: 17px;
}

#filterable li {
	float: left;
	margin-right: 15px;
}

.inner-page-intro h2 {
	font-size:21px;
	line-height:24px;
}

#map {
    height: 275px;
    margin: 0px 0 30px -50px;
    position: relative;
    width: 848px;
}


#contact-form .error {   margin: 15px 0 0 0 }
#contact-form form {   margin-bottom: 0px }
#contact-form  fieldset {   margin-bottom: 0px }
#contact-form  label,
#contact-form  legend,
#contact-form  strong,
#contact-form  span {
    font-weight: bold;
    font-size: 13px;
    color: #898989;
}

#contact-form input[type="checkbox"] { display: inline }
#contact-form label span,
#contact-form legend span {
    font-weight: normal;
    font-size: 13px;
    color: #444;
    line-height: 34px;
}

#contact-form input[type="text"],
#contact-form input[type="password"],
#contact-form  input[type="email"],
#contact-form textarea,
#contact-form select {
    border: 1px solid #dddddd;
    padding: 5px 10px;
    outline: none;
    overflow: hidden;
    font: 12px "Helvetica", Arial, sans-serif;
    color: #777;
    box-shadow: inset 0px 2px 4px #f3f3f3;
    -moz-box-shadow: inset 0px 2px 4px #f3f3f3;
    -webkit-box-shadow: inset 0px 2px 4px #f3f3f3;
    width: 216px;
    max-width: 100%;
    display: block;
    margin-bottom: 10px;
    background: #FFF;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#contact-form select { padding: 0 }
#contact-form  textarea {
    width: 472px;
    height: 200px;
    resize: vertical;
}

#contact-form input[type="text"]:focus,
#contact-form input[type="password"]:focus,
#contact-form  input[type="email"]:focus,
#contact-form  textarea:focus {
    border: 1px solid #bbbbbb;
    color: #555;
    box-shadow: 0px 0px 5px #CCC,inset 0px 2px 4px #f3f3f3;
    -moz-box-shadow: 0px 0px 5px #CCC,inset 0px 2px 4px #f3f3f3;
    -webkit-box-shadow: 0px 0px 5px #CCC,inset 0px 2px 4px #f3f3f3;
}

.flexslider.loading {min-height: 330px}
.flex-direction-nav li a.next,
.flex-direction-nav li a.prev { margin-top: -203px; }
/*--------------------------------------*/
/*FEATURED CLIENTS WIDGET*/
/*--------------------------------------*/
.widget-1 {
    margin-top: 10px;
}

.widget-1 li {
    position: relative;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    height: 90px;
    width: auto;
}

.widget-1 a {
    position: relative;
    width: 95%;
    display: block;
    height: 90px;
    opacity: 0.4;
    border-collapse:collapse;
    margin: 0 auto;
}
.widget-1 a:hover {
    opacity: 5;
}

#client1 {
    border: 1px solid #e3e4e5;
    position: relative;
    width: 175px;
    display: block;
    float: left;
}

#client2 {
    border-top: 1px solid #e3e4e5;
    border-right: 1px solid #e3e4e5;
    border-bottom: 1px solid #e3e4e5;
    position: relative;
    width: 176px;
    display: block;
    float: left;
}

#client3 {
    border-top: 1px solid #e3e4e5;
    border-right: 1px solid #e3e4e5;
    border-bottom: 1px solid #e3e4e5;
    position: relative;
    width: 176px;
    display: block;
    float: left;
}

#client4 {
    border-top: 1px solid #e3e4e5;
    border-right: 1px solid #e3e4e5;
    border-bottom: 1px solid #e3e4e5;
    position: relative;
    width: 176px;
    display: block;
    float: left;
}

#client5 {
    border-top: 1px solid #e3e4e5;
    border-right: 1px solid #e3e4e5;
    border-bottom: 1px solid #e3e4e5;
    position: relative;
    width: 176px;
    display: none;
    float: left;
}
}