/*		----CONTENT LIST-----

		01- RESET & CLERFIX
		02-	TYPOGRAPHY
		03- PRE HEADER CONTENT (lists, tooltip, social icons)
		04- HEADER CSS + GRID (container,logo,navigation,columns)
		05- HOME CONTENT
		06- FOOTER & COPYRIGHTS CSS
		07- HOMEPAGE PORTFOLIO CAROUSEL & PORTFOLIO ITEM  LAYOUT
		08- BUTTONS
		09- ELASTIC SLIDER (flex-slider)
		10- PRICING TABLE
		11- LISTS
		12- DROPCAPS
		13- ALERTS 
		14- CONTACT FORM
		15- SERVICES LAYOUTS
		16- PORTFOLIO LAYOUTS
		17- BLOG LAYOUT
		18- OTHER FEATURES LAYOUT (google maps,404 error style,pre style,blockquote style,team members,inner page intro...)
*/


/* ---------------------------------------------------------------------- */
/* 01- 	RESET & CLEARFIX 
/* ---------------------------------------------------------------------- */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,input,textarea,select { background:transparent;border:0;font-size:100%;margin:0;outline:0;padding:0;vertical-align:baseline } article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block } body { line-height:1.5 } abbr[title],dfn[title] { border-bottom:1px dotted;cursor:help } blockquote,q { quotes:none } blockquote:before,blockquote:after,q:before,q:after { content:none } del{ text-decoration:line-through } hr { background:transparent;border:0;clear:both;color:transparent;height:1px;margin:0;padding:0 } mark { font-style:italic } input,select { vertical-align:middle } ins { color:white;text-decoration:none } ol,ul { list-style:none } table { border-collapse:collapse;border-spacing:0 }
/* Clearfix */
.clear{ clear:both;display:block;height:0;overflow:hidden;visibility:hidden;width:0 }.clearfix:after { clear:both;content:' ';display:block;font-size:0;height:0;line-height:0;visibility:hidden;width:0 }* html .clearfix,:first-child+html .clearfix{ zoom:1 }

/* ---------------------------------------------------------------------- */
/* 02- 	TYPOGRAPHY 
/* ---------------------------------------------------------------------- */
body {
	background:#FFF;
	color: #959595 !important;
	font-size: 13px !important;
    font-weight: normal;
	font-family:'Open Sans', 'Verdana', sans-serif !important;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	overflow-x: hidden;
}

p,ul,ol,pre,code { margin-bottom:1em; }

a, a > * {
    color: #898989;
	text-decoration: none;
	-webkit-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
	-moz-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
	-ms-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
	-o-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
	transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
}

a.colored:hover{ text-decoration:underline; font-size: 14px; }

body p {
    font-family: 'Open Sans', Arial,'sans-serif';
    font-weight: normal;
    color: #959595 !important;
}

h1,h2,h3,h4,h5,h6 {
	font-weight:normal;
	font-variant:normal;
	white-space:normal;
	color:#898989;
	margin-bottom:15px;
	font-family:'Open Sans',Arial,Verdana,serif;
}

h1 {
    font-family: 'Open Sans','Oswald', 'Droid Sans','Arial', 'sans-serif';
    font-size: 34px;
    color: #444444;
    font-weight: 400;
    line-height: 36px;
}

h2 {
    font-family: 'Open Sans','Oswald', 'Droid Sans','Arial', 'sans-serif';
	font-size:26px;
    color: #444444;
    font-weight: 400;
	line-height:34px;
}

h3 {
    font-family: 'Open Sans','Oswald', 'Droid Sans','Arial', 'sans-serif';
	font-size:24px;
    color: #444444;
    font-weight: 400;
	line-height:32px;
}

h4 {
    font-family: 'Open Sans','Oswald', 'Droid Sans','Arial', 'sans-serif';
	font-size:18px;
    color: #444444;
    font-weight: 400;
	line-height:24px;
}

h5 {
    font-family: 'Open Sans','Oswald', 'Droid Sans','Arial', 'sans-serif';
	font-size:14px;
    color: #444444;
    font-weight: 400;
	line-height:20px;
}

h6 {
    font-family: 'Open Sans','Oswald', 'Droid Sans','Arial', 'sans-serif';
	font-size:12px;
    color: #444444;
    font-weight: 400;
	line-height:17px;
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
	color:#444444;
	font-size:100%;
}

h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover {
	font-size:100%;
	text-decoration:none;
}

.text-align-center { text-align:center; }
.text-align-left { text-align:left; }
.text-align-right { text-align:right; }
.img-align-left { margin: 0 auto; max-width: 100%; }

.page-title-heading h2 span {
    color: #444444 ;
    font-family: 'Open Sans','Oswald',sans-serif,arial;
    font-size: 26px;
    font-style: normal;
    font-weight: normal;
}

.tipsy {
	padding:5px;
	font-size:11px;
    font-weight: normal;
	opacity:0.7;
	filter: alpha(opacity=70);
	background-repeat:no-repeat;
	background-image:url(../images/tipsy.gif);
	margin-top: -75px;
}

.tipsy-inner {
	padding:5px 8px 4px 8px;
	background-color:black;
	color:#FFF;
	max-width:200px;
	text-align:center;
}

.tipsy-inner {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.tipsy-north {
	background-position:bottom center;
}

.tipsy-south {
	background-position:bottom center;
}

.tipsy-east {
	background-position:right center;
}

.tipsy-west {
	background-position: left center;
}
/*-----------------------------------------------------------*/
/*-------------------- SOCIAL ICONS --------------------------*/
/*-----------------------------------------------------------*/
#social-icons {
    position:relative;
}

ul#social-links {
    z-index: 1202;
    position: relative;
    margin: -5px 0 0 0;
}

ul#social-links li {
    float: left;
    font-size: 12px;
    width: 27px;
    height: 27px;
    text-indent: -9999px;
    display: block;
    margin-left: 3px;
}

ul#social-links li  a {
    width: 27px;
    height: 27px;
    display: block;
}

ul#social-links li  a.facebook {  background: url("../images/icons/facebook.png") top no-repeat; transition: all 0.3s linear 0s; opacity: 0.5; }
ul#social-links li  a.twitter {  background: url("../images/icons/twitter.png") top  no-repeat; transition: all 0.3s linear 0s; opacity: 0.5; }
ul#social-links li  a.google {  background: url("../images/icons/google.png") top  no-repeat; transition: all 0.3s linear 0s; opacity: 0.5; }
ul#social-links li  a.dribbble {  background: url("../images/icons/dribbble.png") top no-repeat; transition: all 0.3s linear 0s; opacity: 0.5; }
ul#social-links li  a.vimeo {  background: url("../images/icons/vimeo.png") top  no-repeat; transition: all 0.3s linear 0s; opacity: 0.5; }
ul#social-links li  a.skype {  background: url("../images/icons/skype.png") top  no-repeat; transition: all 0.3s linear 0s; opacity: 0.5; }
ul#social-links li  a.rss {  background: url("../images/icons/rss.png") top  no-repeat; transition: all 0.3s linear 0s; opacity: 0.5; }
ul#social-links li  a.linkedin {  background: url("../images/icons/linkedin.png") top  no-repeat; transition: all 0.3s linear 0s; opacity: 0.5; }
ul#social-links li  a.pinterest {  background: url("../images/icons/pinterest.png") top  no-repeat; transition: all 0.3s linear 0s; opacity: 0.5; }
ul#social-links li  a.livejournal {  background: url("../images/icons/livejournal.png") top  no-repeat; transition: all 0.3s linear 0s; opacity: 0.5; }
ul#social-links li  a.tumblr {  background: url("../images/icons/tumblr.png") top  no-repeat; transition: all 0.3s linear 0s; opacity: 0.5; }
ul#social-links li  a.behance {  background: url("../images/icons/behance.png") top  no-repeat; transition: all 0.3s linear 0s; opacity: 0.5; }
ul#social-links li  a.paypal {  background: url("../images/icons/paypal.png") top  no-repeat; transition: all 0.3s linear 0s; opacity: 0.5; }
ul#social-links li  a.instagram {  background: url("../images/icons/instagram.png") top  no-repeat; transition: all 0.3s linear 0s; opacity: 0.5; }
ul#social-links li  a.delicious {  background: url("../images/icons/delicious.png") top  no-repeat; transition: all 0.3s linear 0s; opacity: 0.5; }
ul#social-links li  a.digg {  background: url("../images/icons/digg.png") top  no-repeat; transition: all 0.3s linear 0s; opacity: 0.5; }

ul#social-links > li a.facebook:hover { float: left; font-size: 12px; background-position: bottom; opacity: 1; }
ul#social-links > li a.twitter:hover { float: left; font-size: 12px; background-position: bottom; opacity: 1; }
ul#social-links > li a.google:hover { float: left; font-size: 12px; background-position: bottom; opacity: 1; }
ul#social-links > li a.dribbble:hover { float: left; font-size: 12px; background-position: bottom; opacity: 1; }
ul#social-links > li a.vimeo:hover { float: left; font-size: 12px; background-position: bottom; opacity: 1; }
ul#social-links > li a.skype:hover { float: left; font-size: 12px; background-position: bottom; opacity: 1; }
ul#social-links > li a.rss:hover { float: left; font-size: 12px; background-position: bottom; opacity: 1; }
ul#social-links > li a.linkedin:hover { float: left; font-size: 12px; background-position: bottom; opacity: 1; }
ul#social-links > li a.pinterest:hover { float: left; font-size: 12px; background-position: bottom; opacity: 1; }
ul#social-links > li a.livejournal:hover { float: left; font-size: 12px; background-position: bottom; opacity: 1; }
ul#social-links > li a.tumblr:hover { float: left; font-size: 12px; background-position: bottom; opacity: 1; }
ul#social-links > li a.behance:hover { float: left; font-size: 12px; background-position: bottom; opacity: 1; }
ul#social-links > li a.paypal:hover { float: left; font-size: 12px; background-position: bottom; opacity: 1; }
ul#social-links > li a.instagram:hover { float: left; font-size: 12px; background-position: bottom; opacity: 1; }
ul#social-links > li a.delicious:hover { float: left; font-size: 12px; background-position: bottom; opacity: 1; }
ul#social-links > li a.digg:hover { float: left; font-size: 12px; background-position: bottom; opacity: 1; }


/* -------------------------------------------------- */
/*04- HEADER,CONTAINER,LOGO, RESPONSIVE NAVIGATION,
/* -------------------------------------------------- */
#page {
	height:auto;
	width:100%;
	background:#FFF;
	padding:0px;
    margin: 0 auto;
}

#header {
	height:68px;
	padding:0px 0 7px 0;
	float:left;
	width:100%;
}

#section-top {
    /*background: url(../images/header-pattern.png) repeat-x;*/
    width: 100%;
    height: 76px;
    position: relative;
    margin: 25px auto 70px;
    padding: 10px 0 10px 0;
}

#header-wrapper {
    z-index: 100;
}

#navigation-wrapper {
    float:right;
}

#content {
    padding-bottom: 30px;
    font-size: 13px;
    color: #959595 !important;
}

#logo {
	float: none;
}

#logo-wrapper {
    float:left;
    width:200px;
    height:200px;
}

#responsive-main-nav-menu {
	display: none;
	width: 100%;
	padding: 6px;
	font: normal normal 12px/1em 'Open Sans', Arial, Tahoma, sans-serif;
	border: 1px solid #ccc;
	color: #666;
    background: transparent;
}

.page-title-heading {
margin-top: -22px;
margin-bottom: 50px;
}

.container .page-title-heading h2 {
    font-weight: normal;
    color: #444444;
    line-height: 100%;
}

#search-wrapper-right {
    width:220px;
    height: auto;
    position: absolute;
    display: block;
    right: 0;
    top: -3px;
}

#search-wrapper-right #s {
    background: url("../images/magnifier.png")  right no-repeat;
    border-radius: 0;
    width: 200px;
    padding: 8px 5px;
    color: #fff !important;
    box-shadow:none;
    float: right;
}
#search-wrapper-right  ::-webkit-input-placeholder{
    color: #fff !important;
}

#search-wrapper-right  ::-o-input-placeholder{
    color: #fff !important;
}

#search-wrapper-right  ::-moz-input-placeholder{
    color: #fff !important;
}


/* -------------------------------------------------- */
/*	Columns
/* -------------------------------------------------- */
.container { margin: 0 auto;position: relative;width: 940px;}
.one-half,.one-third,.two-third,.one-fourth,.three-fourth,.one-column { float: left;margin-right: 20px;margin-bottom: 20px; }
.one-half.last,.one-third.last,.two-third.last,.one-fourth.last,.three-fourth.last, .one-fourth.widget-4, .one-fourth.widget-8, .one-fourth.widget-12{ margin-right: 0px }
.one-half { width: 460px }
.one-third { width: 300px }
.two-third { width: 620px }
.one-fourth { width: 220px }
.three-fourth { width: 700px }
.horizontal-line { width:100%;margin: 40px 0 40px 0;float:left; }

.one-fourth.widget-1, .one-fourth.widget-5 , .one-fourth.widget-9  { clear:both; }

/* -------------------------------------------------- */
/*	MAVIGATION
/* -------------------------------------------------- */
.downarrowclass {
    position: absolute;
    top: 53px;
    right: 5px;
}

.rightarrowclass {
    position: absolute;
    top: 10px;
    right: 10px;
}

#main-navigation select { display: none }
#main-navigation { float: right }
#main-navigation > ul { margin: 0 }
#main-navigation ul li {
     list-style: none;
     float: left;
     position: relative;
}

#main-navigation li a {
    color: #444444;
    font-family: 'Open Sans','Droid Sans', 'Verdana', sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding: 28px 12px 28px 12px !important;
    margin: 0 0 15px 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    float: left;
    overflow: hidden;
    line-height: 20px;
}

#main-navigation ul li.current-menu-item > a {
    margin-top: -5px;
    border-top: 5px solid;
    z-index: 98;
}

#main-navigation ul ul li a {
    display: block;
    float: none;
}

#main-navigation ul ul {
    /*background: url("../images/menu-drop-bg.png") 20% 0% no-repeat;*/
    padding-top: 8px;
    display: none;
    left: 0;
    margin-top: -17px;
    position: absolute;
    width: 175px;
    z-index: 99;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#main-navigation ul ul ul {
    /*background: url("../images/menu-drop-bg-2.png") 0% 50% no-repeat;*/
    padding-left: 8px;
    display: none;
    left: 0;
    position: absolute;
    width: 175px;
    z-index: 99;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#main-navigation ul ul ul  ul {
    background: url("../images/menu-drop-bg-2.png") 0% 50% no-repeat;
    padding-left: 8px;
    display: none;
    margin-left: 10px;
    left: 0;
    position: absolute;
    width: 175px;
    z-index: 99;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#main-navigation ul ul  li,
#main-navigation ul ul  li a {
    padding: 0;
    margin: 0px;
    color: #FFF;
    background: #fff;
    font-family: "Arial", "Verdana";
}

#main-navigation ul ul  li {
    border-bottom: 1px solid #ececec;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
}

#main-navigation ul ul  li a {
    padding: 10px  !important;
    color: #888989;
}

#main-navigation ul ul li { float: none }
#main-navigation ul ul a {
    border: 0;
    color: #fff;
    display: block;
    font-size: 11px;
    font-weight: 400;
    padding: 5px 10px !important;
    text-align: left;
    margin: 0;
    text-transform: none;
}

#main-navigation ul ul a:hover,
#main-navigation ul ul .hover > a,
#main-navigation ul ul .current-menu-item > a,
#main-navigation ul ul .current-menu-item > a:hover {
    color: #fff;
    border: 0;
}

#main-navigation ul li ul {
    position: absolute;
    left: 0px;
    display: block;
    visibility: hidden;
    margin-left: 0px;
    top: 0;
}

.downarrowclass,
.rightarrowclass {
    width:10px;
    height:8px;
    /*background:url(../images/arrow-down.png) top left no-repeat;*/
    display:inline-block;
    position: absolute;
    right: 5px;
    top: 55px
}

.rightarrowclass {
    background-image:url(../images/plus-white.png);
}

/* ---------------------------------------------------------------------- */
/* 05- HOME CONTENT
/* ---------------------------------------------------------------------- */
/*#slider-border-pattern {
    background:url(../images/slider-border-pattern.png) repeat-x;
    width: 100%;
    height: 10px;
    position: relative;
    display: block;*/

}
#white-background {
    background: #fff;
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    padding-top: 70px;
}

.intro-page {
    margin-bottom: 75px;
}

.intro-page strong {
    font-size: 30px;
    font-family: 'Open Sans','Oswald',sans-serif,arial;
    font-weight: normal;
    font-style: normal;
}

.intro-page h2 {
    color: #444444;
    font-size: 30px;
    font-family: 'Open Sans','Oswald',sans-serif,arial;
    font-weight: normal;
    line-height: 140%;
    margin: 0;
    letter-spacing: 0.4px;
    text-align: center;
}
/*---------home 3boxes align center--------*/
#home-content .home-content-icon {
    clear: both;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    float: left;
}

#home-content .home-content-icon .icon-center {
    position: relative;
    height: auto;
    margin: 0 auto;
    display: block;
    padding: 0;
    width: 100%;
}

#home-content .one-third {
    text-align: center;
    margin-bottom: 0;
}

/*---------home 4boxes align center--------*/
#home-content .home-content-icon {
    clear: both;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    float: left;
}

#home-content .home-content-icon .icon-center {
    position: relative;
    height: auto;
    margin: 0 auto;
    display: block;
    padding: 0;
    width: 100%;
}

#home-content .one-fourth {
    text-align: center;
    margin-bottom: 0;
}

/*---------home boxes align left--------*/
#three-boxes-left .home-content-icon {
    clear: both;
    position: relative;
    width: auto;
    height: auto;
    float: left;
    margin-right: 10px;
}

#three-boxes-left .home-content-icon .icon-center {
    position: relative;
    height: auto;
    margin: 0;
    display: block;
    padding: 0;
    width: 100%;
    float: left;
}

#three-boxes-left .one-third,
#three-boxes-left .one-fourth{
    text-align: left;
    margin-bottom: 0;
}

#three-boxes-left h4{
    margin:10px 0 20px 0;
}

#call-to-action-box {
    width: 880px;
    min-height: 10px;
    background-color: #fafafa;
    border: 1px solid #ededed;
    padding: 20px 30px 20px 30px;
    display: block;
    float: left;
}

#call-to-action-shadow {
    background: url('../images/call-to-action-shadow.png') no-repeat center center;
    width: 940px;
    height: 24px;
    float: left;
    margin-bottom: -24px;
}

.call-to-action-content {
    max-width: 650px;
    display: block;
    position: relative;
    float: left;
}

.call-to-action-content p,
.call-to-action-content h4{
    margin: 0;
}

#call-to-action-box .one_fourth {
    float: right;
    padding: 2px 0 0 0;
}

#call-to-action-box  .readmore.large a {
    font-size: 18px;
    font-family: "Open Sans", Arial, Verdana;
    font-style: normal;
    padding: 3px 14px 4px 14px;
    -webkit-transition: all 0.2s ease,top 0ms linear;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    float: right;
}
/* ---------------------------------------------------------------------- */
/* 06- 	FOOTER & COPYRIGHTS CSS
/* ---------------------------------------------------------------------- */
#footer {
    width: 100%;
    padding: 30px 0 0;
    margin: 0;
    height: auto;
    background: #363839;
    border-top: 6px solid #e5e5e5;
    position: relative;
}

#footer h4 {
	font-size: 18px;
	line-height: 24px;
}

#copyrights {
    width: 100%;
    padding: 15px 0 8px 0;
    margin-left: 0px;
    background: #2e2f30;
    float:none;
    font-weight: 400;
}

#copyrights .right { float: right; }
#copyrights a:hover { text-decoration: underline }

#responsive-social-menu {
    display: none;
    width: 100%;
    padding: 6px;
    font: normal normal 12px/1em 'Open Sans', Arial, Tahoma, sans-serif;
    border: 1px solid #ccc;
    color: #666;
    background:#fff;
}

/* ---------------------------------------------------------------------- */
/* FOOTER LIST
/* ---------------------------------------------------------------------- */
#footer .textwidget{
    font-weight: 400;
}

#footer address{
    font-weight: 400;
}

#footer .widget-container ul {
    list-style-type: none;
    list-style-position: outside;
    width: 100%;
    margin-top: 0;
}

#footer .widget-container li {
    color: #898989;
    display: block;
    padding: 5px 0;
    border-bottom: 1pt solid #454849;
 }

#footer .widget-container li a { color: #aaa }
#footer .widget-container li a:hover {
    text-decoration: underline;
}

#footer .widget-container li:first-child { border-top: 1pt solid #454849; }
/* ---------------------------------------------------------------------- */
/* FOOTER TWITTER FIELD
/* ---------------------------------------------------------------------- */
#footer .tweet { width: auto }
#footer .tweet ul {
    list-style-type: none;
    padding: 0;
    margin: 0px;
}

#footer .tweet li .tweet_text,
.block .tweet li .tweet_text {
    float: left;
    margin-bottom: 10px;
}

#footer .tweet a,
.block .tweet a {
    text-transform: none;
    display: inline;
    padding: 0px;
    font-style: italic;
    font: 12px Arial,Verdana, sans-serif;
}

#footer .tweet .tweet_time a,
.block .tweet .tweet_time a {
    text-transform: none;
    display: block;
    font-style: italic;
    font-size: 12px;
    padding: 10px 0 0 25px;
    /*background: url("../images/twitter-feed.png") left bottom  no-repeat;*/
}

#footer .tweet .tweet_time a:hover,
.block .tweet .tweet_time a :hover {   text-decoration: underline }
/* ---------------------------------------------------------------------- */
/* FOOTER CONTACT INFO
/* ---------------------------------------------------------------------- */
.widget_site5framework_contact_widget span {
    padding: 5px 0 5px 30px;
    width: 100%;
    display: block;
    font-style: normal;
}

.widget_site5framework_contact_widget span.address { background: left no-repeat }
.widget_site5framework_contact_widget span.phone  { background: left no-repeat }
.widget_site5framework_contact_widget span.email  { background: left no-repeat }

/* ---------------------------------------------------------------------- */
/* 07- HOMEPAGE PORTFOLIO CAROUSEL & PORTFOLIO ITEM  LAYOUT
/* ---------------------------------------------------------------------- */
ul#projects-carousel {
    overflow: hidden;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 25px 0 0 0;
    float: left;
    display: block;
    clear: both;
}

ul#projects-carousel li {
    float: left;
    background: #f8f9f9;
    width: 220px;
    height: auto;
    margin-right: 20px;
    margin-bottom: 15px;
    padding: 0;
}

ul#projects-carousel li .item-content {
    background: #fafafa;
    float: left;
    width: 220px;
    text-align: center;
    padding: 0;
    height: auto;
    border-bottom: 1px solid #ececec;
}

.description {
     padding: 10px 0 10px 0;
}

.description p {
    margin: 0;
}

.carousel-hover-title {  position: absolute; padding: 0; font-size: 12px; height: auto; width: 100%; bottom: 60px; z-index: 1000; display: block; }
.carousel-hover-title span {  position: relative; padding: 0; font-size: 12px; height: auto; margin-top: 10px; z-index: 1000; display: block; }

ul#projects-carousel li .item-content p a {
    margin: 0;
    padding: 0;
    font-weight: 800;
    color: #FFF;
}

ul#projects-carousel li span {
    font-style: italic;
    color: #FFF;
    display: block;
    font-size: 13px;
}

ul#projects-carousel li  img {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.jcarousel-container {
    margin: 0px -20px 0px 0;
    max-width: 100%;
    padding: 0px 0 0  0;

}
.jcarousel-clip {
    overflow: hidden;
    width: 100%;
}

.jcarousel-item {
    margin: 0 0px 30px 0;
    width: 220px;
}

.colored{
    font-style: italic;
    cursor: pointer;
    position: relative;
    right: 0;
    top: 0;
    z-index: 100;
    font-size: 14px;
}

#single-portfolio-pagination {
    position: relative;
    display: block;
    width: 50px;
    height: 17px;
    float: left;
    margin: 0 0 5px 7px;
}

.jcarousel-next,
.jcarousel-prev {
    background: url("../images/carousel-prev-next.png") 102% 60% no-repeat;
    cursor: pointer;
    height: 17px;
    position: absolute;
    right: 0;
    top: -37px;
    width: 17px;
    transition: background-color 0.2s ease 0s, border 0.2s ease 0s, color 0.2s ease 0s, opacity 0.2s ease-in-out 0s;
    z-index: 100;
}

.jcarousel-prev {
    background: url("../images/carousel-prev-next.png") -3% 60% no-repeat;
    right: 20px;
}

.jcarousel-next:hover,
.jcarousel-next:focus,
.jcarousel-next:active,
.jcarousel-prev:hover,
.jcarousel-prev:focus,
.jcarousel-prev:active {}
.jcarousel-clip {
    overflow: hidden;
    width: 100%;
}

.jcarousel-next-disabled,
.jcarousel-next-disabled:hover,
.jcarousel-next-disabled:focus,
.jcarousel-next-disabled:active,
.jcarousel-prev-disabled,
.jcarousel-prev-disabled:hover,
.jcarousel-prev-disabled:focus,
.jcarousel-prev-disabled:active {
    background-color: #615951;
    cursor: auto;
}

.portfolio-item-hover-content,
.proj-img1 {
    position: relative;
    overflow: hidden;
}

.portfolio-item-hover-content a.zoom {
    background: url(../images/zoom-plus.png) no-repeat;
    display: inline-block;
    width: 46px;
    height: 46px;
    position: absolute;
    top: 0;
    left: -100%;
    margin-top: 31%;
    z-index: 10;
    text-indent: -9999px;
}

.portfolio-item-hover-content a.full-width-link {
    background: url(../images/full-width-link.png) no-repeat;
    display: inline-block;
    width: 46px;
    height: 46px;
    position: absolute;
    top: 0;
    right: -100%;
    margin-top: 31%;
    z-index: 10;
    text-indent: -9999px;
}

.portfolio-item-hover-content {
    line-height: 0;
    display: block;
    background: transparent;
    z-index: 99;
}

.portfolio-item-holder {
    position: relative;
    overflow: hidden;
    height: 180px;
    margin-bottom: 0px;
}

.portfolio-item-hover-content,
.proj-img1 {
    position: relative;
    overflow: hidden;
}

.portfolio-item-hover-content .hover-options {
    display: block;
    font-style: normal;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity:0);
    cursor: pointer;
}

/* ---------------------------------------------------------------------- */
/* 08- BUTTONS
/* ---------------------------------------------------------------------- */
.button {
    display: inline-block;
    text-decoration: none !important;
    line-height:11px;
    font-size: 15px;
    font-family: "Open Sans", Arial, Verdana;
    font-weight: 400;
    font-style: normal;
    padding: 8px 12px 8px 12px;
    margin: 5px 10px 5px 0;
    -webkit-transition: all 0.2s ease,top 0ms linear;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background: none;
    font-size: 100% !important;
}

.button:hover { -webkit-transition: all 0.2s ease,top 0ms linear; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; -ms-transition: all 0.2s ease; transition: all 0.2s ease; opacity: 1 !important;}




/* ---------------------------------------------------------------------- */
/* 09- ELASTIC SLIDER / FLEX SLIDER
/* ---------------------------------------------------------------------- */
#full-width-slider {
    max-width: 940px;
    margin: 0 auto -80px;
}

#full-width-slider .container {
    z-index: 1;
}

/*.slider-shadow {
    background: url('../images/slider-shadow.png') no-repeat center center;
    width: 940px;
    height: 33px;
    float: left;
    position: relative;
    display: block;
}*/

#slider_container {
    border-bottom:1px solid #E1E1E1;
    width: 100%;
}
.flex-direction-nav li a.prev,
.flex-direction-nav li a.next {
    margin-top: -242px;
}

.flexslider.loading { min-height: 350px; background: url('../images/loading.gif') no-repeat center center; }
.loading { background: url('../images/loading.gif') no-repeat center center; }


.flex-caption {
    bottom: 0;
    text-align: center;
    background: url("../images/caption-bg.png") repeat;
}

.ei-slider {
    position: relative;
    width: 100%;
    max-width: 940px;
    height: 600px;
    margin: 0 auto;
}

.ei-slider-loading {
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
    background: rgba(0,0,0,0.9);
    color: #fff;
    text-align: center;
    line-height: 600px;
}

.ei-slider-large {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.ei-slider-large li {
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.ei-slider-large li img {   width: 100% }
.ei-title {
    position: absolute;
    left: 0%;
    bottom: 0%;
    background: url("../images/caption-bg.png") repeat;
    width: 96%;
    padding: 2%;
}

.ei-title h3 {
    text-align: left;
}

.ei-slider-thumbs {
    height: 5px;
    margin: -10px   auto 0 auto;
    position: relative;
}

.ei-slider-thumbs li {
    position: relative;
    float: left;
    height: 100%;
}

.ei-slider-thumbs li.ei-slider-element {
    top: 0px;
    left: 0px;
    position: absolute;
    height: 100%;
    z-index: 10;
    text-indent: -9000px;
}

.ei-slider-thumbs li a {
    display: block;
    text-indent: -9000px;
    background: #d0d0d0;
    height: 5px;
}

.ei-slider-thumbs li a:hover {   background: #d0d0d0 }
.ei-slider-thumbs li img {
    position: absolute;
    bottom: 50px;
    opacity: 0;
    z-index: 999;
    width: 135px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.ei-slider-thumbs li:hover img {
    opacity: 1;
    bottom: 10px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

/* ---------------------------------------------------------------------- */
/* 10- 	PRICING TABLE
/* ---------------------------------------------------------------------- */
.pricing-box-list-box {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.pricing-box-list-box .pricing-item {
    background: #fff;
    float: left;
    width: 100%;
    position: relative;
    border: 1px solid #ececec;
}

.pricing-heading {
    background: #fafafa;
    border-bottom: 1px solid #ececec;
    padding: 20px 0 20px 0;
}

.pricing-heading h3 {
    margin: 0;
    font-weight: 600;
    color: #797a7a;
}

.pricing-heading h4 {
    margin: 0;
}

.pricing-plan-features ul{
    margin: 0 20px 0 20px;
}

.pricing-plan-features ul li{
    border-bottom: 1px solid #ececec;
    border-style: dashed;
    border-left: none;
    border-right: none;
    border-top: none;
    padding: 15px 0 15px 0;

}
.pricing-plan-button{
    margin: 20px 0 15px 0;
    position: relative;
    display: block;
    width: 100%;
    height: 30px;
    float: left;

}
/*BEST PRICE */
.pricing-box-list-box #on {
    border: none;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    width: 260px;
    margin-left: -19px;
    margin-top: -20px;
    z-index: 10;
}

.pricing-box-list-box #on .pricing-heading {
    padding: 30px 0 30px 0;
    color: #fff;
}

.pricing-box-list-box #on .pricing-heading h3 {
    color: #fff;
}

.pricing-box-list-box #on .pricing-heading h4 {
    color: #000;
    opacity: 0.4;
}

.pricing-box-list-box #on .pricing-plan-button {
    margin: 30px 0 25px 0;
}

/*LIST STYLES*/
/*COLUMNS SIZE (DEFAULT IS FIVE COLUMNS)*/
.one-fourth .pricing-table-list-box-content ul li {
    margin: 0 0 0 -25px;
    padding: 7px 0 7px 55px;
    list-style-type: none;
    text-align: left;
    width: 180px;
}

.one-third .pricing-table-list-box-content ul li {
    margin: 0 0 0 -25px;
    padding: 7px 0 7px 55px;
    list-style-type: none;
    text-align: left;
    width: 260px;
}

.pricing-table-list-box-content ul li:hover {
    box-shadow: none!important;
    -moz-box-shadow: none!important;
    webkit-box-shadow: none!important;
    left: 0px!important;
    top: 0px!important;
}

.pricing-table-list-box-content ul li.zebra-pricing {   background-color: #f3f3f3 }
.text-price {
    text-align: center;
    padding: 10px 0 5px 0;
}

.text-price h2 {
    color: #FFF;
    text-shadow: 0px 1px 0px #005826;
    margin-top: 7px;
    font-size: 24px;
}

/* ---------------------------------------------------------------------- */
/* 11- 	LISTS
/* ---------------------------------------------------------------------- */
.simple-list-2,
.hentry ul {
    margin-left: 20px;
    list-style: disc outside;
}

.hentry ol {
    list-style: decimal outside;
    margin-left: 20px;
}

.simple-list-2 li,
.hentry li {}

.hentry ul,
.simple-list-2 li a { color: #ACAEAE }
.simple-list-2 li a:hover { color: #8abe11;text-decoration: underline; }
ul.center-list { text-align: center }
ul.center-list li { text-align: center;display: inline; }
ul.center-list li a {text-align: center; padding: 5px 5px; }
ul.center-list li a:hover { text-decoration: underline }
ul.dotted-list li { border-bottom: 1px dotted #bdbdbd }
ul.dotted-list li { padding: 0px 0 5px 20px }
.arrow li,.arrow-2 li,.circle li,.check li,.check-2 li,.star li,.plus li,.dash li { list-style: none; margin: 0; }
ul.dotted-list li { padding: 5px 0 5px 20px;border-bottom: 1px dotted #bdbdbd; }
/* ---------------------------------------------------------------------- */
/* 12- 	DROPCAPS
/* ---------------------------------------------------------------------- */
.dropcapsimple, .dropcapsquare, .dropcapfancy {
    float:left;
    display:inline-block;
    margin:0 10px 0 0;
    text-align:center;
}

.dropcapsimple {
    font-size:34px;
    height:34px;
    line-height:38px;
    width:30px;
    text-align:left;
    margin:0;
}

.dropcapsquare {
    font-size:28px;
    height:38px;
    line-height:38px;
    width:38px;
    margin-right:7px;
    color:#fefefe;
    background:#ddd;
    text-shadow:none;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

.dropcapfancy {
    background:#8abe11;
    color:#FFF;
    font-family:'Terminal Dosis','Arial',sans-serif;
    font-size:22px;
    line-height:35px;
    height:35px;
    width:35px;
    border-radius:100px;
    -moz-border-radius:100px;
    -webkit-border-radius:100px;
}

.dropcap.dark {background:#3a3a3a;color:#fff;}
.dropcap.green {background:#59a839;color:#fff;}
.dropcap.red {background:#e64135;color:#fff;}
.dropcap.blue {background:#72c2e7;	color:#fff;}
.dropcap.purple {background:#954eae;color:#fff;}
.dropcap.grey {background:#898989;color:#fff;}
.dropcap.pink {background:#f26d7d;color: #fff;}
/* ---------------------------------------------------------------------- */
/* 13- 	ALERTS
/* ---------------------------------------------------------------------- */
.simple-error,.simple-alert,.simple-notice,.simple-success,.simple-info {
	padding:0.8em;
	margin-bottom:1em;
	border:1px solid #ddd;
}

.simple-error,.simple-alert {
	background:#fbe3e4;
	border-color:#fbc2c4;
	color:#e64135;
}

.simple-notice {
	background:#fff6bf;
	color:#514721;
	border-color:#ffd324;
}

.simple-success {
	background:#e6efc2;
	color:#264409;
	border-color:#c6d880;
}

.simple-info {
	background:#d5edf8;
	color:#205791;
	border-color:#92cae4;
}

.simple-error a,.simple-alert a { color:#8a1f11; }
.simple-notice a { color:#514721; }
.simple-success a { color:#264409; }
.simple-info a { color:#205791; }
.required { color:#e64135; }
.required { color:#ed1c24; }
.error {
	color:#e64135;
	text-align:left;
	font-size:11px;
	font-style:italic;
	font-family:"Georgia", Verdana;
}

.success {
	color:#acd373;
	text-align:left;
	font-size:11px;
	font-style:italic;
	font-family:"Georgia", Verdana;
}
/* ---------------------------------------------------------------------- */
/* 14- 	CONTACT FORM
/* ---------------------------------------------------------------------- */
#contactForm .error {
    margin: 5px 0 0 0 ;
    display: none;
}
#messages .simple-success,
#messages .simple-error {
    display: none;
}

#contactForm form { margin-bottom: 0px }
#contactForm  fieldset { margin-bottom: 0px }
#contactForm  label,
#contactForm  legend,
#contactForm  strong {
    font-weight: normal;
    display: normal;
    color: #444444;
}

#contactForm input[type="checkbox"] { display: inline }
#contactForm label span,
#contactForm legend span {
    font-weight: normal;
    font-size: 13px;
    color: #444;
    line-height: 34px;
}

#contactForm input[type="text"],
#contactForm input[type="password"],
#contactForm  input[type="email"],
#contactForm textarea,
#contactForm select {
    color: #888888;
    font-size: 12px;
    padding: 5px 10px;
    outline: none;
    overflow: hidden;
    width: 420px;
    max-width: 99%;
    display: block;
    margin: 5px 0 10px 0;
    background-color: #FFFFFF;
    border: 1px solid #EDEBEB;
    box-shadow: -5px -5px 0 0 #F7F7F7, 5px 5px 0 0 #F7F7F7, 5px 0 0 0 #F7F7F7, 0 5px 0 0 #F7F7F7, 5px -5px 0 0 #F7F7F7, -5px 5px 0 0 #F7F7F7;
}

#contactForm input[type="text"],
#contactForm input[type="password"],
#contactForm  input[type="email"] {
    height: 30px;
}

#contactForm select { padding: 0 }
.text-area-wrapper{ width: 100%; height: auto; position: relative; display: block; margin: 10px 0 10px 0; float: left; }
#contact-info-wrapper{ margin-top: 25px; }
#contactForm  textarea {
    padding: 10px;
    width: 100%;
    height: 150px;
    resize: vertical;
    float: left;
}

#contactForm input[type="text"]:focus,
#contactForm input[type="password"]:focus,
#contactForm  input[type="email"]:focus,
#contactForm  textarea:focus {
    border: 1px solid #bbbbbb;
    color: #555;
    box-shadow: 0px 0px 5px #CCC,inset 0px 2px 4px #f3f3f3;
    -moz-box-shadow: 0px 0px 5px #CCC,inset 0px 2px 4px #f3f3f3;
    -webkit-box-shadow: 0px 0px 5px #CCC,inset 0px 2px 4px #f3f3f3;
}

.caddress,
.cphone,
.cfax,
.cemail{
    margin-bottom: 10px;
}

.caddress strong,
.cphone strong,
.cemail strong{ }
/* ---------------------------------------------------------------------- */
/* 15-   SERVICES LAYOUTS
/* ---------------------------------------------------------------------- */
.services-items {
    position: relative;
    float: left;
    display: block;
}

.services-icon {
    position: relative;
    float: left;
    display: block;
    margin-right: 10px;
}

.services-items h4 {
    margin-bottom: 35px;
}
/* ---------------------------------------------------------------------- */
/* 16-   PORTFOLIO LAYOUTS
/* ---------------------------------------------------------------------- */
.project-pagination {
    float: right;
    margin-top:0;
    height: 0;
    width: auto;
    right: 0;
    top: 0;
}

.project-pagination .project-pagination-next a {
    background: url("../images/carousel-prev-next.png") no-repeat scroll 105% 60% #DDDDDD;
    cursor: pointer;
    height: 17px;
    position: absolute;
    right: 20px;
    top: -1px;
    transition: background-color 0.2s ease 0s, border 0.2s ease 0s, color 0.2s ease 0s, opacity 0.2s ease-in-out 0s;
    width: 17px;
}

.project-pagination .project-pagination-prev a {
    background: url("../images/carousel-prev-next.png") no-repeat scroll -5% 60% #DDDDDD;
    cursor: pointer;
    height: 17px;
    position: absolute;
    right: 40px;
    top: -1px;
    transition: background-color 0.2s ease 0s, border 0.2s ease 0s, color 0.2s ease 0s, opacity 0.2s ease-in-out 0s;
    width: 17px;
}

.project-pagination .project-pagination-next a:hover {
    background: url("../images/carousel-prev-next.png") no-repeat scroll 105% 60%;
    transition: background-color 0.2s ease 0s, border 0.2s ease 0s, color 0.2s ease 0s, opacity 0.2s ease-in-out 0s;
}

.project-pagination .project-pagination-prev a:hover {
    background: url("../images/carousel-prev-next.png") no-repeat scroll -5% 60%;
    transition: background-color 0.2s ease 0s, border 0.2s ease 0s, color 0.2s ease 0s, opacity 0.2s ease-in-out 0s;
}

.page-title-heading  a.colored {
    top: -1px;
    right: 0;
}

ul#portfolio-items-one-fourth {
    width: 100%;
    min-height: 180px;
    overflow: hidden;
}

ul.portfolio-items-one-fourth li { width: 220px; margin: 0 20px 20px 0; float: left; height: 242px; overflow: hidden; }
ul#portfolio-items-one-fourth li .portfolio-item { float:left; background:#f8f9f9;width:220px;height:auto;padding:0; }
ul#portfolio-items-one-fourth .portfolio-item-holder{ height: 180px; }
ul#portfolio-items-one-fourth li  .item-content { background: #fafafa; float: left; width: 220px; text-align: center; padding: 0; height: auto; border-bottom: 1px solid #ececec;}
#portfolio-items-one-fourth .description { padding: 10px 0 10px 0; font-size: 12px;  color: #444444; font-weight: 300; font-family: "open sans", sans-serif}
ul#portfolio-items-one-fourth li .item-content:hover{ }
ul#portfolio-items-one-fourth li .item-content p {margin: 2px 0 1px 0;}
ul#portfolio-items-one-fourth li .item-content p a { margin:0; padding: 0; font-weight: 400; font-size: 14px; color: #444444; font-family: 'Open Sans','Oswald', 'sans-serif'; line-height: 100%; }
ul#portfolio-items-one-fourth li  .item-content span { color:#ACAEAE;  font-size: 13px; font-weight: 300;}
ul#portfolio-items-one-fourth li   img { width:100%;height:auto;padding:0;margin:0; }

ul.portfolio-items-one-third li { width: 297px; margin: 0 20px 20px 0; float: left; height: 310px; overflow: hidden; }
ul#portfolio-items-one-third { overflow: hidden;position: relative;list-style: none;margin: 0;padding: 0px 0 0 0 ; }
ul#portfolio-items-one-third li { width: 297px; min-height:310px;}
ul#portfolio-items-one-third .portfolio-item-holder{ height: 237px; }
ul#portfolio-items-one-third li .portfolio-item { float:left; background:#f8f9f9;width:300px;height:auto;padding:0; }
ul#portfolio-items-one-third li .item-content { background: #fafafa; float:left; width:300px; text-align:center; padding:0; height:auto; border-bottom: 1px solid #ececec !important;}
#portfolio-items-one-third  .description { padding: 15px 0 15px 0; }
ul#portfolio-items-one-third li .item-content:hover{ }
ul#portfolio-items-one-third li .item-content p { margin:0;}
ul#portfolio-items-one-third li .item-content p a { margin:0;padding:0;font-weight:400;color: #444444; font-family: 'Open Sans','Oswald', 'sans-serif'; line-height: 100%; }
ul#portfolio-items-one-third li .item-content span { color:#ACAEAE;  font-size: 13px; font-weight: 300; }
ul#portfolio-items-one-third li  img { width:100%;height:auto;padding:0;margin:0; }

ul.portfolio-items-one-half li { width: 460px; margin: 0 20px 20px 0; float: left; height: 403px; overflow: hidden; }
ul#portfolio-items-one-half { overflow: hidden;position: relative;list-style: none;margin: 0;padding: 0px 0 0 0 ; }
ul#portfolio-items-one-half li { width: 460px; min-height:310px; height: auto;}
ul#portfolio-items-one-half .portfolio-item-holder{ height: 330px; }
ul#portfolio-items-one-half li .portfolio-item { float:left; background:#f8f9f9;width:460px;height:auto;padding:0; }
ul#portfolio-items-one-half li .item-content { background: #fafafa; float:left; width:460px; text-align:center; padding:0; height:auto; border-bottom: 1px solid #ececec !important;}
#portfolio-items-one-half  .description { padding: 15px 0 15px 0; }
ul#portfolio-items-one-half li .item-content:hover{ }
ul#portfolio-items-one-half li .item-content p { margin:0;}
ul#portfolio-items-one-half li .item-content p a { margin:0;padding:0;font-weight:400;color: #444444; font-family: 'Open Sans','Oswald', 'sans-serif'; line-height: 100%; }
ul#portfolio-items-one-half li .item-content span { color:#ACAEAE;  font-size: 13px; font-weight: 300; }
ul#portfolio-items-one-half li  img { width:100%;height:auto;padding:0;margin:0; }

.portfolio-container { width:960px;margin-right:-20px;float:left; clear: both; position: relative;}
.portfolio-items{
    width: 960px;
    margin: 0;
    position: relative;
}

.portfolio-items:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

.portfolio-items-not-filterable {
    width: 960px;
    margin: 0;
}
.portfolio-items-not-filterable:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

.portfolio-items-not-filterable li {
    width: 300px;
    margin: 0 20px 20px 0;
    float: left;
    height: 310px;
    overflow: hidden;
}

.three-fourth .portfolio-container {
    width: 720px;
}

.filterable  {
    display: inline;
    float: left;
    margin-bottom: 20px;
    margin-right:20px;
    margin-top: -4px;
}

.filterable li {
    float: left;
    margin-right: 25px;
}

.filterable li a {
    background-color: #fafafa;
    border: 1px solid #ececec;
    color: #888888;
    transition: all 0.1s ease-in-out 0s;
    display: block;
    font: bold 11px arial;
    text-decoration: none;
    text-align: center;
    width: 100%;
    height: auto;
    padding:5px 5px;
    margin:0 0 15px 0;
    font-weight: 300;
    font-size: 14px;
}

.filterable li a:hover {
    color: #FFF;
    box-shadow: none;
    transition: all 0.1s ease-in-out 0s;
}
.filterable li.active a {
    color: #FFF;
    box-shadow: none;
}

.portfolio-image {
    margin-bottom: 20px;
}
/* ---------------------------------------------------------------------- */
/* 17- BLOG LAYOUT
/* ---------------------------------------------------------------------- */
/* ASIDE Post Format*/
.icon-aside {
    background: #e4e4e4 url("../images/blog icons/aside.png") no-repeat;
    width: 61px;
    height: 61px;
    position: relative;
    display: block;
}

.sidebar-line-left {
    border-right: 1px solid #ECECEC;
}

.sidebar-line-right {
    border-left: 1px solid #ECECEC;
    padding-left: 20px;
}

/* GALLERY Post Format*/
.icon-gallery {
    background: #e4e4e4 url("../images/blog icons/gallery.png") no-repeat;
    width: 61px;
    height: 61px;
    position: relative;
    display: block;
}

.post-flex-slider{
    width: 100%;
    heght: auto;
    position: relative;
    display: block;
    float: left;
    margin-bottom: 20px;
}

.post-flex-slider .flexslider{
    width: 580px;
    height: 280px;
    overflow: hidden;
    margin: 0 0 0 -20px;
}

.post-flex-slider ul.flex-direction-nav li a{
    margin-top: -260px;
}

/* IMAGE Post Format*/
.icon-image {
    background: #e4e4e4 url("../images/blog icons/image.png") no-repeat;
    width: 61px;
    height: 61px;
    position: relative;
    display: block;
}

.image-post-format{
    width: 560px;
    height: 280px;
    position: relative;
    display: block;
    overflow: hidden;
}

/* LINK Post Format*/
.icon-link {
    background: #e4e4e4 url("../images/blog icons/link.png") no-repeat;
    width: 61px;
    height: 61px;
    position: relative;
    display: block;
}

/* QUOTE Post Format*/
.icon-quote {
    background: #e4e4e4 url("../images/blog icons/quote.png") no-repeat;
    width: 61px;
    height: 61px;
    position: relative;
    display: block;
}

/* STANDARD  Post Format*/
.icon-standard {
    background: #e4e4e4 url("../images/blog icons/standard.png") no-repeat;
    width: 61px;
    height: 61px;
    position: relative;
    display: block;
}

/* VIDEO Post Format*/
.icon-video {
    background: #e4e4e4 url("../images/blog icons/video.png") no-repeat;
    width: 61px;
    height: 61px;
    position: relative;
    display: block;
}

.hentry {
    padding: 0 0 10px 0;
    margin:0 0 10px 0;
}

.single .hentry  {
    margin-bottom: 0;
}

.entry-body {
   float: left;
   margin: 0;
   width: 680px;
}

.entry-body h2 {
    margin: 20px 0 20px 0;
}

.entry-content {
    width: 560px;
    float: right;
}

ul.flex-direction-nav li{
    list-style-type: none;
}

.post-meta {
    margin: 0;
    width: 105px;
    height: auto;
    display: block;
    position: relative;
    float: left;
}

.page-body {
    width: 100%;
    float: left;
}

.readmore a {
    font-size: 15px;
    font-family: "Open Sans", Arial, Verdana;
    font-style: normal;
    padding: 2px 12px 3px 12px;
    -webkit-transition: all 0.2s ease,top 0ms linear;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.readmore.large a {
    font-size: 18px;
    font-family: "Open Sans", Arial, Verdana;
    font-style: normal;
    padding: 3px 14px 4px 14px;
    -webkit-transition: all 0.2s ease,top 0ms linear;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    float: left;
}

.entry-meta {
    color: #878787;
    float: left;
    margin: 10px 20px 0 0;
    text-align: center;
    width: 125px;
    font-size: 12px;
    line-height: 20px;
}

.entry-meta ul { margin: 0 }
.entry-meta li {
    list-style: none;
    margin: 0;
}

.entry-meta .title { font-weight: bold }
.post-format {
    background-color: #ddd;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color: #959393;
    display: inline-block;
    height: 40px;
    margin: 0 0 10px 0;
    text-align: left;
    text-indent: -9999px;
    width: 40px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.post-author {
    background:  no-repeat scroll  0 13px;
    height: auto;
    text-align: left;
    margin: 20px 0 15px 0;
    display: block;
    padding: 10px 0 0 17px;
    font-size: 12px;
}

.post-date {
    background:  no-repeat scroll  0 0;
    height: auto;
    text-align: left;
    margin: 0 0 15px 0;
    display: block;
    padding: 0 0 0 17px;
    font-size: 12px;
}

.tags {
    background: no-repeat scroll  0 0;
    height: auto;
    text-align: left;
    margin: 0 0 15px 0;
    display: block;
    padding: 0 0 0 18px;
    font-size: 12px;
    color: #bfbfbf;
}

.tags a{
     color: #bfbfbf;
}

.user {
    width:20px;
    height:20px;
    display:block;
    text-indent:-9999px;
    float:right;
    margin:0 -5px 0 10px;
}

.comments-link{
    background: no-repeat scroll  0 0;
    height: auto;
    text-align: left;
    margin: 0 0 15px 0;
    display: block;
    padding: 0 0 0 18px;
    font-size: 12px;
    color: #bfbfbf;
}

.comments-link a{
    color: #bfbfbf;
}

.post-month {
    display: block;
    color: #bfbfbf;
}

.post-day,
.post-year {   display: block }
.post-day {
    font-size: 36px;
    color: #FFF;
    margin: 10px 0 15px 0;
}

.post-year {
    color: #FFF;
    padding: 10px 0 0 0;
}

.post-intro {
    float: left;
    width: 615px;
}

.hentry blockquote {
    background: #f8f8f8;
    font: italic 15px/1.6  "Georgia", 'Times', 'Times New Roman', serif;
    padding: 20px 20px 20px 55px;
    border-bottom: 1pt solid #e1e1e1;
    margin: 0 0 20px 0;
    float: left;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

blockquote.alignleft {
    float:left;
    margin:10px 10px 10px 0;
    width:300px;
}

blockquote.alignright {
    float:right;
    margin:10px 0 10px 10px;
    width:300px;
}

.mediaitem { margin: 0 0 20px 0 }

.sidebarBox {
    border-bottom: none;
    margin: 0 0 30px 0;
    padding: 0 0 0 0;
    font-size: 12px;
}

.sidebarBox.last {
    border-bottom: none;
}

.sidebarBox li {
    background: url(../images/simple-nav-arrow.png) no-repeat 0 11px;
    border-bottom: 1px dotted #ced8df;
    list-style: none;
    margin: 0;
    display: block;
    padding: 5px 0 5px 15px;
}

.sidebarBox li:first-child { border-top: 1px dotted #ced8df }
.sidebarBox a { color: #868686; }
.sidebarBox a:hover {    }

img.fb_share_link {
    padding: 0 0 0 0px;
    margin: 0px 5px -10px 0px;
}

#main #pagination { list-style: none; position: relative; margin-top: -40px; float: left; }
#pagination { list-style: none;}
#pagination li { display: inline }
#pagination span,
#pagination a {
    display: block;
    float: left;
    padding: 4px 10px;
    margin-right: 7px;
    border: 1px solid #ececec;
    color: #898989;
}

#pagination .current  { background-color: #fafafa }

.widget_search {
    border-bottom: none;
}

#s {
    background: #FFF url("../images/search-bg.png")  right no-repeat;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    width: 96%;
    padding: 8px 5px;
    color: #acacac;
    -moz-box-shadow: 0 0px 3px #b7b7b7;
    -webkit-box-shadow: 0 0px 3px #b7b7b7;
    box-shadow: 0 0px 3px #b7b7b7;
}

#searchsubmit {
    position: absolute; left: -1000em;
}

.screen-reader-text {
    position: absolute; left: -1000em;
}
.search-place {   margin: 30px 0 }



.author {
    border-bottom: 1px solid #E1E1E1;
    padding:20px;
    margin-bottom: 30px;
    clear: both;
    background: #f0f0f0;
}
.author .author-gravatar {
    float:left;
    margin:0 20px 20px 0;
}
.author .author-description {
    font-style: italic;
}



#comments {clear: both; margin: 30px 0;}

.inner-comment {   margin-left: 75px }

.comment  {
    margin-bottom: 10px;
    overflow: hidden;

}
.comment  article {
    position: relative;
}
.comment-author {

    margin-right: 10px;
    padding-bottom: 0;
    margin-top: 10px;

}
.commentlist  ul.children {
    padding-left: 40px;
}
.commentlist .authormeta {
    float: left;
    display: block;
}

.commentlist .comment-author img, .commentlist .comment-author h3, .commentlist .comment-author .datetime {
    float: left;
    line-height: 38px;
    margin: 0 10px 0 0;
    padding: 0;
}

.commentlist .comment-author h3{
    float: left;
    line-height: 0px;
    font-size: 12px;
    padding-bottom: 3px;
    display: block;
    position: relative;
    margin: 0;
}

.commentlist .comment-author .datetime {
    clear: both;
    color: #EBEBEB;
    float: none;
    margin-right: 0;
    display: block;
    margin-top: -10px;
    font-size: 12px;
    float: left;
}

span.datetime  a{
    color: #ACAEAE;
}

.comment-text  {
    border-bottom: 1pt solid #ebebeb;
    clear: left;
    float: none;
    margin-bottom: 10px;
    white-space: pre-line;
    word-wrap: break-word;
    width: 100%;
    position: relative;
}

.comment-text  p {
    margin-bottom: 0;
    margin-top: -20px;
    display: block;
    clear: both;
}

img.avatar  {
    vertical-align: middle;
}


.comment  cite {
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    margin-right: 5px;
    float: left;
    display: block;
}

.comment-reply-link {
    display: block !important;
    float: left !important;
    font-size: 12px;
    margin-top: 0 !important;
    margin-left:5px;
}

.comment-reply-link:hover {
    text-decoration: underline;
}

strong.reply-line {
    float: left;
    position: relative;
    display: block;
    color: #444444;
}

.reply-link {
    width: auto;
    height: 10px;
    position: relative;
    display: block;
    float: left;
    padding-top: 4px;
}

a.comment-edit-link {
    right: 0;
    position: absolute;
    top: 10px;
}

#respond label {
    font-weight: normal;
    display: normal;
    color: #444444;
    left: 0;
}

.comment-form-comment{
    width: 100%;
    height: auto;
    position: relative;
    float: left;
    text-align: left;
}

#respond  input[type=text],
#respond  input[type=password],
#respond  input[type=email],
#respond  input[type=url],
#respond  input.text,
#respond  input.title,
#respond  textarea,
#respond  select {
    background-color: #FFFFFF;
    border: 1px solid  #edebeb;
    box-shadow:  -5px -5px 0 0 #F7F7F7, 5px 5px 0 0 #F7F7F7, 5px 0 0 0 #F7F7F7, 0 5px 0 0 #F7F7F7, 5px -5px 0 0 #F7F7F7, -5px 5px 0 0 #F7F7F7;
    color: #888888;
    font-size: 12px;
    padding: 4% 0;
    width: 96%;
}

#respond  input[type=text]:focus,
#respond  input[type=password]:focus,
#respond  input[type=email]:focus,
#respond  input[type=url]:focus,
#respond  input.text:focus,
#respond  input.title:focus,
#respond  textarea:focus,
#respond  select:focus {
    background-color: #FFFFFF;
    border: 1px solid  #edebeb;
    box-shadow:  -5px -5px 0 0 #F7F7F7, 5px 5px 0 0 #F7F7F7, 5px 0 0 0 #F7F7F7, 0 5px 0 0 #F7F7F7, 5px -5px 0 0 #F7F7F7, -5px 5px 0 0 #F7F7F7;
    color: #888888;
    font-size: 12px;
}

#respond  input[type=text],
#respond  input[type=password],
#respond  input[type=email],
#respond  input.text,
#respond  input.title,
#respond  textarea,
#respond  select {   margin: 5px 0 }
#respond  textarea {
    width: 99%;
    height: 180px;
    padding: 1% 0;
    resize: none;
}

#respond  input[type=submit] { }

#reply-title {
    display: none;
}
.comment-notes {
    display: none;
}

.comment-form-author span {
    visibility: hidden;
}

.comment-form-email span {
    visibility: hidden;
}

#author {
    float: left;
}

#email {
    float: left;
}

input#submit {
    visibility: hidden;
}

/* alignments */
.alignleft, img.alignleft { margin:0 24px 24px 0; display: inline; float: left; }
.alignright, img.alignright { margin-left: 24px; display: inline; float: right; }
.aligncenter, img.aligncenter { margin-right: auto; margin-left: auto; display: block; clear: both; }
/*--------------------------------------*/
/*FEATURED CLIENTS WIDGET*/
/*--------------------------------------*/
.widget-1 li {
    position: relative;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    height: 90px;
    width: auto;
}

.widget-1 a {
    position: relative;
    width: 95%;
    display: block;
    height: 90px;
    opacity: 0.4;
    border-collapse:collapse;
    margin: 0 auto;
}

.widget-1 a:hover {
    opacity: 5;
}

#client1 {
    border: 1px solid #e3e4e5;
    position: relative;
    width: 187px;
    display: block;
    float: left;
}

#client2 {
    border-top: 1px solid #e3e4e5;
    border-right: 1px solid #e3e4e5;
    border-bottom: 1px solid #e3e4e5;
    position: relative;
    width: 187px;
    display: block;
    float: left;
}

#client3 {
    border-top: 1px solid #e3e4e5;
    border-right: 1px solid #e3e4e5;
    border-bottom: 1px solid #e3e4e5;
    position: relative;
    width: 187px;
    display: block;
    float: left;
}

#client4 {
    border-top: 1px solid #e3e4e5;
    border-right: 1px solid #e3e4e5;
    border-bottom: 1px solid #e3e4e5;
    position: relative;
    width: 187px;
    display: block;
    float: left;
}

#client5 {
    border-top: 1px solid #e3e4e5;
    border-right: 1px solid #e3e4e5;
    border-bottom: 1px solid #e3e4e5;
    position: relative;
    width: 186px;
    display: block;
    float: left;
}
/* ---------------------------------------------------------------------- */
/* 18- OTHER FEATURES LAYOUT
/* ---------------------------------------------------------------------- */
.not-found-text {
    text-align: center;
    font-size: 100px;
    line-height: 100px;
    border-bottom: 1pt solid #E1E1E1;
    margin-bottom: 100px;
    padding-bottom: 30px;
}

.resize img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 10px;
}
video {
    width: 100%;
    height: auto;
}
ul.team-memebers li {
    text-align: center;
    float: left;
    margin-right: 20px;
}

ul.team-memebers li.last { margin-right: 0px }

#contact-map {
    margin-left: 0;
    width: auto;
    max-height: 100%;
    margin-bottom: 30px;
}

#contact-map iframe {
   width:100%;
}

img.team-member {
   width: 70px;
   height: 70px;
   border-radius: 2px;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   box-shadow: 0px 1px 1px #615951;
   -moz-box-shadow: 0px 1px 1px #615951;
   -webkit-box-shadow: 0px 1px 1px #615951;
}

blockquote,
q { quotes: none }
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

blockquote {
    padding: 0px 10px 0px 35px;
    line-height: 24px;
    background-position:  0% 10% ;
    background-repeat: no-repeat;
    color: #999999;
}

blockquote span { color: #666666 }

.button-holder-2 {
    float: right;
    margin-top: 5px;
}

pre,
code {
    border: 1px solid #e1e1e1;
    border-left: 5px solid #e1e1e1;
    width: 96%;
    margin-bottom: 20px;
    padding: 2%;
    font-size: 11px;
    display: inline-block;
    background-color: #f5f5f5;
}
.pdf {
    /*background: url(../images/icons/pdf-icon.png) no-repeat 5px 12px;*/
    padding: 15px 10px 10px 65px;
    width: 125px;
    min-height: 48px;
}

.skype-call {
    /*background: url(../images/icons/skype-icon.png) no-repeat 5px 12px;*/
    padding: 15px 10px 10px 65px;
    width: 125px;
    min-height: 48px;
}

#map {
    height: 275px;
    margin: 0px 0 30px -40px;
    position: relative;
    width: 1020px;
}

#map:before,
#map:after {
    background: none;
    -webkit-box-shadow: 0 0 5px 2px rgba(54, 55, 54, 0.1);
    -moz-box-shadow: 0 0 5px 2px rgba(54, 55, 54, 0.1);
    box-shadow: 0 0 5px 2px rgba(54, 55, 54, 0.1);
    content: '';
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#map:after {
    bottom: 0;
    top: auto;
}

ul.buttons li {
    display: list;
    margin: 25px 0;
}

.inner-page-intro {
    width: 100%;
    height: auto;
    float: left;
    padding: 0px 0;
    margin-bottom: 30px;
    border-bottom: 1pt solid #e1e1e1;
}

.add-widget {
    sssbackground: url("../../lib/shortcodes/images/lists/addlist.png")left center no-repeat;
    background:url("../images/plus.png") left center no-repeat;
    padding: 2px 2px 2px 13px;
    font-weight: bold;
    display: block;
    margin-top: 20px;
}

.help {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #eee;
    padding:20px;
}

.help p {
    margin-bottom: 0;
}

.space {
    position: relative;
    display: block;
    height: 20px;
    width: 100%
}

#breadcrumbs {
    width: 100%;
    position: relative;
    height: auto;
    margin-bottom: 30px;
    border-top: 1px solid #E3E4E5;
    border-bottom: 1px solid #E3E4E5;
    padding: 10px 0 10px 0;
    float: left;
    z-index: 50;
}