/*-------------------------------------------------------------------------------------------*/

/* Admin Styles */

/*-------------------------------------------------------------------------------------------*/
div.updated
{
	background-color:#FFFFE0;
	border-color:#E6DB55;
	left:30%;
	position:fixed;
	top:50%;
	width:20%;
	z-index:999;
}

#icon-themes
{
	background:url(../images/ico_title.png) 0 0 no-repeat;
	margin:10px 0 0 10px;
}

#of_container
{
	font-family:Arial, Tahoma, sans serif;
	margin:10px 0;
	position:relative;
	width:800px;
	z-index:0;
}

#of_container #header
{
	-moz-border-radius-topleft:6px;
	-moz-border-radius-topright:6px;
	-webkit-border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	height:60px;
}

#of_container #header .logo
{
	float:left;
	margin:5px;
}

#of_container #header .logo h2
{
	font-size:20px;
	font-style:normal;
	line-height:26px;
}

#of_container #main
{
	-moz-border-radius-topleft:6px;
	-moz-border-radius-topright:6px;
	-webkit-border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	border:1px solid #d8d8d8;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	clear: both;
}

#of_container #header .site5author
{
	float:left;
	margin:5px 0;
	padding-left:400px;
}

#of_container #header .site5author a
{
	color:#666;
	font-size:11px;
	text-decoration:none;
}

#of_container #header .site5author a:hover
{
	color:#FF2779;
}

#of_container #of-nav
{
	float:left;
	position:relative;
	width:160px;
	z-index:9999;
}

#of_container #of-nav ul
{
	margin:0;
}

#of_container #of-nav ul li:first-child a
{
	-moz-border-radius-topleft:6px;
	-webkit-border-top-left-radius:6px;
	border-top-left-radius:6px;
	margin:0;
}

#of_container #of-nav li
{
	margin-bottom:0;
}

#of_container #of-nav li a img
{
	margin-right:5px;
}

#of_container #of-nav ul li a:link,#of-nav ul li a:visited
{
	-moz-transition:color .1s ease-in;
	-o-transition:color .1s ease-in;
	-webkit-transition:color .1s ease-in;
	background:#F7F7F7;
	background-image:0 color-stop(0.36,rgb(247,247,247)) );
	border-bottom:1px solid #dedede;
	border-right:1px solid #dedede;
	border-top:1px solid #fff;
	color:#797979;
	display:block;
	font-size:13px;
	padding:12px 10px 12px 15px;
	text-decoration:none;
	transition:color .1s ease-in;
}

#of_container #of-nav ul li.current a
{
	background:#fff;
	border-right:none;
	color:#000;
	font-weight:700;
}

#of_container #of-nav ul li a:hover
{
	color:#000;
}

#of_container #content
{
	-moz-border-radius-topright:6px;
	-webkit-border-top-right-radius:6px;
	background-color:#fff;
	border-left:1px solid #dedede;
	border-top-right-radius:6px;
	float:left;
	margin-left:-1px;
	min-height:560px;
	padding:10px 15px 10px 25px;
	width:598px;
}

#of_container #content .section
{
	border-bottom:1px solid #ddd;
	margin-bottom:10px;
	padding-bottom:15px;
}

#of_container #content .sectionlast
{
	border-bottom:2px solid #8abe11;
	margin-bottom:40px;
	padding-bottom:20px;
}

#of_container #content .section h3.heading
{
	font-size:13px;
	font-weight:700;
	margin:10px 0;
	padding:7px 0;
}

#of_container #content .section .controls
{
	float:left;
	margin:0;
}

#of_container #content .section .explain
{
	clear:both;
	color:#999;
	float:left;
	font-size:11px;
	font-style:italic;
	padding:7px 10px 0 0;
}

#of_container #content .section-checkbox .controls
{
	width:25px;
}

#of_container #content .section-checkbox .explain
{
	width:540px;
}

#of_container #content .section-color .controls
{
	width:125px;
}

#of_container #content .section-color .explain
{
	width:440px;
}

#of_container textarea,#of_container input,#of_container select
{
	-moz-box-shadow:0 1px 2px #EEE inset;
	-webkit-box-shadow:0 1px 2px #EEE inset;
	border:1px solid #CCC;
	border-radius-topright:4px;
	box-shadow:0 1px 2px #EEE inset;
}

#of_container .controls input,#of_container .controls select,#of_container .controls textarea
{
	font-size:12px;
	padding:6px;
	width:340px;
}

#of_container .controls select
{
	padding:2px 0 0 4px;
	width:340px;
}

#of_container .controls textarea
{
	width:405px;
}

#of_container input[type=text]
{
	width:400px;
}

#of_container input.checkbox
{
	width:30px;
}

#of_container input.of-radio
{
	width:30px;
}

#of_container .controls .of-color
{
	float:left;
	margin-left:5px;
	width:80px;
}

#of_container #content .section-typography .controls
{
	width:425px;
}

#of_container .controls .of-typography-size
{
	float:left;
	width:80px;
}

#of_container .controls .of-typography-unit
{
	float:left;
	width:50px;
}

#of_container .controls .of-typography-face
{
	float:left;
	width:100px;
}

#of_container .controls .of-typography-style
{
	float:left;
	width:80px;
}

#of_container #content .section-background .controls
{
	width:425px;
}

#of_container #content .section-background .explain
{
	width:140px;
}

#of_container .of-background-properties
{
	margin-top:18px;
}

#of_container .controls .of-background-repeat
{
	float:left;
	width:160px;
}

#of_container .controls .of-background-position
{
	float:left;
	width:125px;
}

#of_container .controls .of-background-attachment
{
	float:left;
	width:125px;
}

#of_container .controls .of-radio-img-img
{
	border:3px solid #fff;
	cursor:pointer;
	display:none;
	float:left;
	margin:0 5px 10px 0;
}

#of_container .controls .of-radio-img-selected
{
	border:3px solid #ccc;
}

#of_container .controls .of-radio-img-img:hover
{
	opacity:.8;
}

#of_container .controls .of-border-width
{
	float:left;
	width:80px;
}

#of_container .controls .of-border-style
{
	float:left;
	width:120px;
}

#of_container .group
{
	padding-bottom:20px;
}

#of_container .group h2
{
	border-bottom:3px solid #e7e7e7;
	display:none;
}

#of_container .controls input:focus,#of_container select:focus,#of_container textarea:focus
{
	background:#fff;
}

#of_container .hide
{
	display:none;
}

#of_container .of-option-image
{
	margin:3px 0 18px;
	max-width:340px;
}

#of_container .mini .controls select,#of_container #content .section .mini .controls
{
	width:70px;
}

#of_container .mini .controls input,#of_container #content .mini .controls
{
	width:70px;
}

#of_container #content .mini .explain
{
	width:500px;
}

#of_container .controls input.upload
{
	padding-bottom:6px;
}

#of_container .controls input.upload_button
{
	border-color:#BBB;
	cursor:pointer;
	height: 28px !important;
	width: 65px;
    padding: 0 !important;
    margin: 0 !important;
}

#of_container .controls input.upload_button:hover
{
	border-color:#666;
	color:#000;
}

#of_container .screenshot
{
	float:left;
	margin-left:1px;
	margin-top:15px;
	position:relative;
	width:344px;
}

#of_container .section-background .screenshot
{
	margin-bottom:18px;
}

#of_container .screenshot img
{
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background:#FAFAFA;
	border-color:#ccc #eee #eee #ccc;
	border-radius:4px;
	border-style:solid;
	border-width:1px;
	float:left;
	max-width:334px;
	padding:15px;
}

#of_container .screenshot .mlu_remove
{
	background:url(../images/ico-delete.png) no-repeat;
	border:medium none;
	bottom:-4px;
	display:block;
	float:left;
	height:16px;
	left:-4px;
	padding:0;
	position:absolute;
	text-indent:-9999px;
	width:16px;
}

#of_container .screenshot .no_image .file_link
{
	margin-left:20px;
}

#of_container .screenshot .no_image .mlu_remove
{
	bottom:0;
}

#of_container .reset-button
{
	cursor:pointer;
	float:left;
}

#of_container .button-primary
{
	float:right;
}

#of_container .of_admin_bar
{
	-moz-border-radius-bottomleft:6px;
	-moz-border-radius-bottomright:6px;
	-webkit-border-bottom-left-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	background:#f3f3f3;
	border:solid #ccc;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
	border-width:0 1px 1px;
	height:35px;
	padding:10px 20px 0;
	text-align:right;
}

#of_container #snb_bodyfontlink,#of_container #snb_headingfontlink
{
	height:80px;
}