﻿/*-------------------------------------------*/
/* #MOBILE 320px (Portrait)*/
/*-------------------------------------------*/
@media only screen and (max-width: 480px) , screen and (max-device-width: 480px) {

h1{
    float: left;
}
/*--------------------------------------*/
/*COLUMNS*/
/*--------------------------------------*/
.container {   width: 280px }
.one-half {   width: 280px }
.one-third {   width: 280px }
.two-third {   width: 280px }
.one-fourth {   width: 280px }
.three-fourth {   width: 280px }
/*--------------------------------------*/
/*PRICING TABLE*/
/*--------------------------------------*/
.pricing-box-list-box .one-fourth {
    width: 280px!important;
    margin: 0 0 30px 0!important;
    box-shadow: none;
    -moz-box-shadow: none;
    webkit-box-shadow: none;
}
/*BEST PRICE */
.pricing-box-list-box #on {
    width: 280px;
    margin-left: 0;
    margin-top: -10px;
}

.pricing-box-list-box #on .pricing-heading {
    padding: 30px 0 30px 0;
    color: #fff;
}

.pricing-box-list-box #on .pricing-plan-button {
    margin: 20px 0 20px 0;
}
.one-fourth .pricing-table-list-box-content ul li {
    margin: 0 0 0 -25px;
    padding: 7px 0 7px 55px;
    list-style-type: none;
    text-align: left;
    width: 225px!important;
}
/*--------------------------------------*/
/*BLOG*/
/*--------------------------------------*/
.sidebar-line-left {
    border-right: none;
}

.sidebar-line-right {
    border-left: none;
    padding-left: 0;
}

.entry-meta {
    color: #878787;
    float: left!important;
    margin: 10px 0px 0 0!important;
    text-align: left!important;
    width: 280px!important;
}
.entry-meta ul { margin: 0 }
.entry-meta li {
    list-style: none!important;
    margin: 0 10px 0 0!important;
    float: left!important;
}

.entry-body {
    float: left;
    margin: 10px 0 0 0;
    width: 280px
}

.post-meta {
    margin: 0;
    width: 280px;
    height: auto;
    display: block;
    position: relative;
}

.entry-content {
    width: 280px;
    float: right;
}

/* GALLERY Post Format*/
.post-flex-slider .flexslider{
    width: 280px;
    height: 150px;
    overflow: hidden;
    margin: 0 0 0 -20px;
}

.post-flex-slider ul.flex-direction-nav li a{
    margin-top: -130px;
}

/* IMAGE Post Format*/
.image-post-format{
    width: 280px;
    height: 150px;
    position: relative;
    display: block;
    overflow: hidden;
}

.post-author {
    float: left;
    width: auto;
    margin: 0 10px 15px 0;
    padding-top: 0;
    background-position: 0 !important;
}

.post-date {
    float: left;
    width: auto;
    margin: 0 10px 15px 0;
}

.tags {
    float: left;
    width: auto;
    margin: 10px 10px 15px 0;
}

.comments-link {
    float: left;
    width: auto;
    margin: 10px 10px 15px 0;
    padding: 0 0 0 18px;
}

.icon-aside { float: left; margin: 0 20px 20px 0; }
.icon-gallery { float: left; margin: 0 20px 20px 0; }
.icon-image { float: left; margin: 0 20px 20px 0; }
.icon-link { float: left; margin: 0 20px 20px 0; }
.icon-quote { float: left; margin: 0 20px 20px 0; }
.icon-standard { float: left; margin: 0 20px 20px 0; }
.icon-video { float: left; margin: 0 20px 20px 0; }
/*--------------------------------------*/
/*BODY CSS (container, navigation, footer, copyrights ...)*/
/*--------------------------------------*/
.center-page {
   height: auto;
   width: 320px;
   margin: 0 auto;
   padding: 0px;
}

#page { }

#section-top{
    margin-bottom: 20px;
}
#call-to-action-panel {
   height: auto;
   padding: 45px 0px 25px 0px;
   width: 320px;
   float: left;
   margin-left: 0px;
   background: #f0ede4;
   border-top: 1pt solid #d8d5cd;
   text-align: center;
}

.intro-page {
    width: 260px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto 20px;
}

#home-content .one-third {
    margin-bottom: 30px;
}

#home-content .one-fourth {
    margin-bottom: 30px;
}

#three-boxes-left .one-third {
    margin-bottom: 30px;
}

#responsive-main-nav-menu {
    display: block;
    width: 135px;
    float: left;
    margin-left: -75px;
    height: 30px;
    color: #fff;
    border: none;
    background: inherit;
    -webkit-appearance: none;
    -o-appearance: none;
}

#responsive-main-nav-wrapper {
    display: block;
    width: 32px;
    float: right;
    margin-top: 1px;
    height: 30px;
    background: url(../images/nav-menu-icon.png) no-repeat 82px 8px;
    position: relative;
    overflow: hidden;
}

#navigation-wrapper {float:none;}
#main-navigation ul { display: none }
#logo-wrapper {
   margin: 0 auto 20px auto;
   width: auto;
   height: auto;
   float:none;
   text-align:center;
}

#social-icons ul { display: none }
h3 {
   font-size: 21px;
   line-height: 22px;
}

.flex-caption { display: none }

.page-title-heading {
    margin-top: 20px;
    margin-bottom: 20px;
}

#search-wrapper-right {
    position: relative;
    width: 100%;
    padding: 5px 0 0 0;
}

#search-wrapper-right #s {
    width: 270px;
    float: none;
}

.button-holder-2 {
   float: none!important;
   margin: 0 auto 20px auto!important;
   width: 150px;
}

.inner-page-intro h2 { text-align: center }

ul#projects-carousel li { width: 280px }
ul#projects-carousel li .item-content { width: 280px }
.carousel-hover-title{  position: absolute; padding: 0; font-size: 12px; height: auto; width: 100%; bottom: 120px; z-index: 1000; display: block; }
.portfolio-item-hover-content a.zoom { margin-top: 24%; }
.portfolio-item-hover-content a.full-width-link { margin-top: 24%; }

.jcarousel-next,
.jcarousel-prev {
    cursor: pointer;
    height: 17px;
    position: absolute;
    right: 20px;
    top: -35px;
    width: 17px;
    transition: background-color 0.2s ease 0s, border 0.2s ease 0s, color 0.2s ease 0s, opacity 0.2s ease-in-out 0s;
    z-index: 100;
}

.jcarousel-prev { right: 40px; }
.flex-caption h2 {
    font-size: 23px;
    text-shadow: none;
}

.view-portfolio-button {
    padding: 10px 20px;
    font-size: 12px;
}

a.colored{
    margin-top: 1px;
}

.jcarousel-next,
.jcarousel-prev {
    margin-top: 1px;
}

#footer {
    width: 100%;
    padding: 30px 0px 0;
    margin-left: 0px;
    height: auto;
    float: left;
    background: #363839;
}

#footer-form input[type="text"],
#footer-form input[type="password"],
#footer-form input[type="email"],
#footer-form textarea,
#footer-form select { width: 152px }
#call-to-action-panel h1 {
    font-size: 28px;
    line-height: 28px;
}

#footer-form input[type="text"],
#footer-form input[type="password"],
#footer-form input[type="email"],
#footer-form textarea,
#footer-form select { width: 260px }
#footer .one-half,
#footer  .one-third,
#footer  .two-third,
#footer .one-fourth,
#footer  .three-fourth {
    border-bottom: 3pt solid #454849;
    border-bottom-style: double;
    margin-bottom: 0px;
    padding-bottom: 15px;
    padding-top: 15px;
}

#footer .one-fourth.last { border-bottom: none!important }
#footer .one-fourth.first {
   border-top: none!important;
   padding-top: 0px;
}

#copyrights {
    width: 100%;
    padding: 10px 0px 10px 0px;
    margin-left: 0px;
    float: left;
    background: #2e2f30;
}

#copyrights p,
#copyrights span {
   font-size: 12px;
   text-align: center;
}

#copyrights .right { float: none }

#responsive-social-wrapper{
    border: none;
    color: white;
    display: block;
    width: 27px;
    float: right;
    height: 27px;
    overflow: hidden;
    position: relative;
    background:  #393939 url("../images/share-icon.png") no-repeat 28px center;
}

#responsive-social-menu {
    border: none;
    color: white;
    display: block;
    width: 60px;
    float: left;
    height: 27px;
    padding: 5px;
    padding-right: 40px;
    margin-left: -25px;
    position: relative;
    background: inherit;
    -webkit-appearance: none;
    -o-appearance: none;
}
/*--------------------------------------*/
/*PORTFOLIO*/
/*--------------------------------------*/
ul.portfolio-items-one-fourth li { width: 279px; margin: 0 20px 20px 0; float: left; height: 242px; overflow: hidden; }
ul#portfolio-items-one-fourth { overflow: hidden; position: relative; list-style: none; margin: 0; padding: 0px 0 0 0; }
ul#portfolio-items-one-fourth li { width: 280px; height: auto; }
ul#portfolio-items-one-fourth li .portfolio-item { float: left; background: #f8f9f9; width: 280px; height: auto; padding: 0; }
ul#portfolio-items-one-fourth li  .item-content { float: left; width: 280px; text-align: center; padding: 0; height: auto; }
#portfolio-items-one-fourth .description { padding-top: 10px }
ul#portfolio-items-one-fourth li .item-content:hover { }
ul#portfolio-items-one-fourth li .item-content p { margin: 1px 0px 2px 0; padding: 0; font-weight: 600; }
ul#portfolio-items-one-fourth li .item-content p a { margin: 0; padding: 0; font-weight: 400; }
ul#portfolio-items-one-fourth li  .item-content span { font-style: normal; }
ul#portfolio-items-one-fourth li img { width: 100%; height: auto; padding: 0; margin: 0; }

ul.portfolio-items-one-third li { width: 279px; margin: 0 20px 20px 0; float: left; height: 246px; overflow: hidden; }
ul#portfolio-items-one-third .portfolio-item-holder{ height: 180px !important; }
ul#portfolio-items-one-third { overflow: hidden; position: relative; list-style: none; margin: 0; padding: 0px 0 0 0; }
ul#portfolio-items-one-third li { width: 280px; height: auto; min-height: 0;}
ul#portfolio-items-one-third li .portfolio-item { float: left; background: #f8f9f9; width: 280px; height: auto; padding: 0; }
ul#portfolio-items-one-third li  .item-content { float: left; width: 280px; text-align: center; padding: 0; height: auto; }
#portfolio-items-one-third .description { padding: 10px 0 10px 0;}
ul#portfolio-items-one-third li .item-content:hover { }
ul#portfolio-items-one-third li .item-content p { margin: 1px 0px 2px 0; padding: 0; font-weight: 600; }
ul#portfolio-items-one-third li .item-content p a { margin: 0; padding: 0; font-weight: 400; }
ul#portfolio-items-one-third li  .item-content span { font-style: normal; }
ul#portfolio-items-one-third li img { width: 100%; height: auto; padding: 0; margin: 0; }

ul.portfolio-items-one-half li { width: 280px; margin: 0 20px 20px 0; float: left; height: 243px; overflow: hidden; }
ul#portfolio-items-one-half .portfolio-item-holder{ height: 180px !important; }
ul#portfolio-items-one-half { overflow: hidden;position: relative;list-style: none;margin: 0;padding: 0 0 0 0 ; }
ul#portfolio-items-one-half li { width:280px; min-height:180px; height:auto !important; margin-right: 10px;  }
ul#portfolio-items-one-half li .portfolio-item { float:left; background:#f8f9f9;width:280px;height:auto;padding:0; }
ul#portfolio-items-one-half li  .item-content { float:left;width:280px;text-align:center;padding: 0;height:auto; }
#portfolio-items-one-half .description { padding: 10px 0 10px 0; }
ul#portfolio-items-one-half li .item-content:hover { }
ul#portfolio-items-one-half li .item-content p { margin:0;padding:0 ;font-weight: 600; }
ul#portfolio-items-one-half li .item-content p a { margin:0;padding:0;font-weight:400; }
ul#portfolio-items-one-half li  .item-content span { font-style:normal; }
ul#portfolio-items-one-half li   img { width:100%;height:auto;padding:0;margin:0; }

.three-fourth .portfolio-container {
    width: 280px;
}

.portfolio-items {
    width: 280px;
    margin: 0;
}

.portfolio-items:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

.portfolio-items-not-filterable li {
    width: 190px;
    margin: 0 20px 0px 0!important;
    float: left;
    min-height: 350px!important;
    overflow: hidden;
}

.portfolio-items-not-filterable {
    width: 280px;
    margin: 0;
}

.portfolio-items-not-filterable:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

.portfolio-items-not-filterable li {
    width: 280px!important;
    margin: 0 20px 0px 0!important;
    float: left;
    height: 295px!important;
    overflow: hidden;
}

.project-pagination {
    margin-left: 10%;
    float: left;
    text-align: center;
}

.project-pagination .project-pagination-next a {
    top: -2px;
}

.project-pagination .project-pagination-prev a {
    top: -2px;
}

.page-title-heading  a.colored{
    top: -3px;
}

#filterable {
    display: inline;
    float: left;
    margin-bottom: 20px;
    margin-right: 0px;
}

#filterable li {
    float: left;
    margin-right: 15px;
    margin-left: 0;
}
/*--------------------------------------*/
/*OTHER FEATURES (google maps, intro inner page, contact forms...)*/
/*--------------------------------------*/
.slider-shadow {
    background: url('../images/slider-shadow320.png') no-repeat center center;
    width: 280px;
    height: 9px;
    float: left;
    position: relative;
    display: block;
}

#call-to-action-shadow {
    background: url('../images/call-to-action-shadow320.png') no-repeat center center;
    width: 280px;
    height: 10px;
    float: left;
    margin-bottom: -24px;
}

#call-to-action-box {
    width: 240px;
    min-height: 10px;
    background-color: #fafafa;
    border: 1px solid #ededed;
    padding: 20px 20px 20px 20px;
    display: block;
    float: left;
    text-align: center;
}

#call-to-action-box .one_fourth {
    width: 100%
}

#call-to-action-box  .readmore.large a {
    width: 100%;
    padding: 3px 0 4px 0;
    text-align: center;
    margin-top: 10px;
}

#map {
    height: 175px;
    margin: 0px 0 30px -20px;
    position: relative;
    width: 320px;
}

#contact-form .error { margin: 15px 0 0 0 }
#contact-form form { margin-bottom: 0px }
#contact-form  fieldset { margin-bottom: 0px }
#contact-form  label,
#contact-form  legend,
#contact-form  strong,
#contact-form  span {
    font-weight: bold;
    font-size: 13px;
    color: #898989;
}

#contact-form input[type="checkbox"] { display: inline }
#contact-form label span,
#contact-form legend span {
    font-weight: normal;
    font-size: 13px;
    color: #444;
    line-height: 34px;
}
#contact-form input[type="text"],
#contact-form input[type="password"],
#contact-form  input[type="email"],
#contact-form textarea,
#contact-form select {
    border: 1px solid #dddddd;
    padding: 5px 10px;
    outline: none;
    overflow: hidden;
    font: 12px "Helvetica", Arial, sans-serif;
    color: #777;
    box-shadow: inset 0px 2px 4px #f3f3f3;
    -moz-box-shadow: inset 0px 2px 4px #f3f3f3;
    -webkit-box-shadow: inset 0px 2px 4px #f3f3f3;
    width: 260px;
    max-width: 100%;
    display: block;
    margin-bottom: 0px;
    background: #FFF;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#contact-form select { padding: 0 }
#contact-form  textarea {
    width: 260px;
    height: 200px;
    resize: vertical;
    margin-bottom: 10px;
}

#contact-form input[type="text"]:focus,
#contact-form input[type="password"]:focus,
#contact-form  input[type="email"]:focus,
#contact-form  textarea:focus {
    border: 1px solid #bbbbbb;
    color: #555;
    box-shadow: 0px 0px 5px #CCC,inset 0px 2px 4px #f3f3f3;
    -moz-box-shadow: 0px 0px 5px #CCC,inset 0px 2px 4px #f3f3f3;
    -webkit-box-shadow: 0px 0px 5px #CCC,inset 0px 2px 4px #f3f3f3;
}

#contactForm input[type="text"],
#contactForm input[type="password"],
#contactForm  input[type="email"] {
    width: 260px;
}

#contactForm  textarea {
    width: 260px;
}
#contact-info-wrapper{ display: none; }

.portfolio-container {
    width: 280px;
    margin-right: 0px;
    float: left;
}

.inner-page-intro h2 {
    font-size: 21px;
    line-height: 24px;
}

.inner-page-intro h1 {
    font-size: 24px;
    line-height: 25px;
    text-align: center;
}

.not-found-text {
    text-align: center;
    font-size: 64px;
}

ul.center-list li a {
    text-align: center;
    padding: 5px 2px;
}

.flexslider.loading {min-height: 155px}
.flex-direction-nav li a.next,
.flex-direction-nav li a.prev {margin-top: -97px; }
/*--------------------------------------*/
/*FEATURED CLIENTS WIDGET*/
/*--------------------------------------*/
.widget-1 {
    margin-top: 10px;
}

.widget-1 li {
    position: relative;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    height: 90px;
    width: auto;

}

.widget-1 a {
    position: relative;
    width: 65%;
    display: block;
    height: 90px;
    opacity: 0.4;
    border-collapse:collapse;
    margin: 0 auto;
}
.widget-1 a:hover {
    opacity: 5;
}

#client1 {
    border: 1px solid #e3e4e5;
    position: relative;
    width: 100%;
    display: block;
    float: left;
}

#client2 {
    border-top: none;
    border-right: 1px solid #e3e4e5;
    border-left: 1px solid #e3e4e5;
    border-bottom: 1px solid #e3e4e5;
    position: relative;
    width: 100%;
    display: block;
    float: left;
}
#client3 {
    border-top: none;
    border-left: 1px solid #e3e4e5;
    border-right: 1px solid #e3e4e5;
    border-bottom: 1px solid #e3e4e5;
    position: relative;
    width: 100%;
    display: block;
    float: left;
}
#client4 {
    border-top: none;
    border-right: 1px solid #e3e4e5;
    border-left: 1px solid #e3e4e5;
    border-bottom: 1px solid #e3e4e5;
    position: relative;
    width: 100%;
    display: block;
    float: left;
}
#client5 {
    border-top: 1px solid #e3e4e5;
    border-right: 1px solid #e3e4e5;
    border-bottom: 1px solid #e3e4e5;
    position: relative;
    width: 176px;
    display: none;
    float: left;
}
}