/*
 * jQuery FlexSlider v1.8
 * http://flex.madebymufffin.com
 *
 * Copyright 2011, Tyler Smith
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
/* Browser Resets */
.flex-container a:active,
.flexslider a:active {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}
/* FlexSlider Necessary Styles
*********************************/
.flexslider {width: 100%; margin: 0; padding: 0;}
.flexslider .slides > li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}
/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}
/* FlexSlider Default Theme
*********************************/
.flexslider {position: relative;zoom: 1; float: left;}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {zoom: 1; position: relative;}
/* Caption style */
/* IE rgba() hack */
.flex-caption { zoom: 1; text-align: center;}
.flex-caption {width: 100%; padding: 1% 0 1% 0; position: absolute; left: 10px;   color: #fff; }
.flex-caption h3{margin:0;color:#fff}

.flexslider .slides > li   { z-index: 1 ;width:1020px;}
.flexslider .slides > li  { display: none;-webkit-backface-visibility: hidden;}
.flex-direction-nav    { z-index: 3 }
.flex-direction-nav li a { z-index: 3 !important; color: #fff; font-size: 40px;display: block; background-color: rgba(204,204,204,0.5);-webkit-transition: background-color .2s linear; -moz-transition: background-color .2s linear; -o-transition: background-color .2s linear; transition: background-color .2s linear;
	}
.flex-direction-nav li a:hover  {border-bottom: none; -webkit-transition: .3s linear; -moz-transition: .3s linear; -moz-transition: .3s linear; }
.flex-direction-nav li a.prev,
.flex-direction-nav li a.next{background: url("../images/next-arrow.png") 0 0 no-repeat; background-color: rgba(204,204,204,0.5); padding: 0; width:46px;height: 69px;text-align:center; line-height: 20px; color: transparent;-webkit-transition: .3s linear; -moz-transition: .3s linear; -ms-transition: .3s linear;}
.flex-direction-nav li a.prev{background: url("../images/prev-arrow.png") 0 0 no-repeat; background-color: rgba(204,204,204,0.5); }
.flex-direction-nav li .next  {position: relative; margin-top: -30px; margin-right:0px;float:right;}
.flex-direction-nav li .prev  { position: relative; margin-top: -30px;margin-left:0px;float:left;}

.flex-control-nav {width: 100%; position: relative; margin-top: 30px; text-align:center; display: none;}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 13px; height: 13px; display: block; /*background: url("../images/bg_control_nav.png") no-repeat*/; cursor: pointer; text-indent: -999em;}
.flex-control-nav li a:hover {background-position: 0 -13px;}
.flex-control-nav li a.active {background-position: 0 -26px; cursor: default;}

.blog-flexslider{margin-bottom:10px;}
.blog-flexslider  .flex-direction-nav li a { z-index: 3 !important; color: #fff; font-size: 40px;display: block; background-color: rgba(17,17,17,0.5);-webkit-transition: background-color .2s linear; -moz-transition: background-color .2s linear; -o-transition: background-color .2s linear; transition: background-color .2s linear;
	}
.blog-flexslider .flex-direction-nav li a:hover  {border-bottom: none;}
.blog-flexslider .flex-direction-nav li a.next,
.blog-flexslider .flex-direction-nav li a.prev { padding: 20px 5px 5px 5px; width:30px;height:45px;text-align:center;}
.blog-flexslider .flex-direction-nav li .next  {position: relative; margin-top: -160px; margin-right:0px;float:right;}
.blog-flexslider .flex-direction-nav li .prev  { position: relative; margin-top: -160px;margin-left:0px;float:left;}
.blog-flexslider .flex-direction-nav li a.next{
	border-radius:4px 0 0 4px;
	-moz-border-radius:4px 0 0 4px;
	-webkit-border-radius:4px 0 0 4px;

}

.blog-flexslider .flex-direction-nav li a.prev{
	border-radius:0px 4px 4px 0px;
	-moz-border-radius:0px 4px 4px 0px;
	-webkit-border-radius:0px 4px 4px 0px;


}


