@charset "utf-8";

body {

	background: #f3f3f3;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 13px;

	color: #777;

}

a {

	color: #5aa0b1;

	font-weight: bold;

}

h1, h2, h3, h4, h5, h6 { font-family: Arial, Helvetica, sans-serif; }

h1 {

	font-size: 20px;

	color: #787878;

	text-transform: uppercase;

	margin-bottom: 20px;

}

h2 {

	font-size: 20px;

	color: #fff;

	text-transform: uppercase;

	margin-bottom: 20px;

}

h3 {

	font-size: 16px;

	text-transform: uppercase;

}

h4 {

	font-size: 16px;

	text-transform: uppercase;

	color: #5aa0b1;

	font-weight: bold;

	margin-bottom: 20px;

}

h5 {

	font-size: 15px;

	text-transform: uppercase;

	color: #fff;

	font-weight: bold;

}

h6 {

	font-size: 12px;

	text-transform: uppercase;

	color: #5aa0b1;

	font-weight: bold;

}

p {

	line-height: 20px;

	font-size: 14px;

}

ul {

	line-height: 20px;

	list-style-image: url(../images/bullet.png);

	padding-left: 40px;

}

ol {

	line-height: 20px;

	list-style-type: decimal;

	padding-left: 40px;

}

strong { font-weight: bold; }

em { font-style: italic; }

#page {

	background: #f3f3f3;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 13px;

	color: #777;

	overflow: hidden;

}

#container {

	width: 960px;

	margin: 0 auto 0 auto;

	overflow: hidden;

}

#header {

	width: 944px;

	margin: 15px 8px 0 8px;

	height: 65px;

}

#logo {

	width: auto;

	float: left;

	margin-bottom: 10px;

}

#tagline {

	float: left;

	width: auto;

	height: 26px;

	padding-left: 20px;

	padding-top: 4px;

	margin-top: 5px;

	background: url(../images/whitegraydiv.gif) repeat-y left;

	margin-left: 20px;

}

#credit {

	float: right;

	width: auto;

	padding-top: 50px;
    
    padding-left: 10px;

}

#social{

	float:right;

    width: 200px;

	margin-top:23px;

}



#social ul{

	float:left;

	display: inline-block;

    width: auto;

	margin-top:12px;

}

#buttons {

	float: left;

	width: auto;

	padding-top: 8px;
    
    padding-left: 10px;

}

#nav {

	float: left;

	width: auto;

	margin-top: 20px;
	margin-bottom: 10px;

}

#nav ul { list-style: none; }

#nav ul li {

	float: left;

	height: 31px;

	width: 113px;

	padding-left: 6px;

	text-align: center;

}

#nav ul li a {

	text-decoration: none;

	display: block;

	height: 31px;

	width: 113px;

	line-height: 31px;

	background: url(../images/nav_btn.gif) top left no-repeat;

	color: #5aa0b1;

	font-weight: bold;

	text-transform: uppercase;

	font-size: 12px;

}

#nav ul li a:hover, #nav ul li a#current { background: url(../images/nav_btn.gif) bottom left no-repeat; }

#featured {

	width: 944px;

	height: 480px;

	overflow: hidden;

	margin: 0 8px 0 8px;

}

#slides {

	width: 100%;

	height: 342px;

	overflow: hidden;

	color: #FFF;

}

.split, .full {

	width: 944px;

	height: 342px;

	background: url(../images/featured_bg_blue.gif) no-repeat;

}

.split .left {

	float: left;

	width: 550px;

	height: 262px;

	padding: 40px;

	position: relative;

	background: url(../images/bluegradiant-left.png) 250px 100px no-repeat;

}

.split .left img {

	position: absolute;

	bottom: 0;

	left: 40px;

}

.split .right {

	float: right;

	width: 234px;

	height: 262px;

	padding: 40px;

	background: url(../images/featured_bg_dark.gif) no-repeat;

}

.split .right ul { padding-left: 20px; }

.btn-gray {

	height: 31px;

	width: 143px;

	margin-top: 25px;

	text-align: center;

}

.btn-gray a {

	background: url(../images/link_btn.png) top left no-repeat;

	height: 21px;

	width: 143px;

	display: block;

	padding-top: 10px;

	text-decoration: none;

	color: #0085a5;

	text-transform: uppercase;

	font-size: 12px;

}

.btn-gray a:hover { background: url(../images/link_btn.png) bottom left no-repeat; }

.btn-blue {

	height: 31px;

	width: 143px;

	margin-top: 25px;

	text-align: center;

}

.btn-blue a {

	background: url(../images/mediumButton2.png) top left no-repeat;

	height: 21px;

	width: 143px;

	display: block;

	padding-top: 10px;

	text-decoration: none;

	color: #FFF;

	text-transform: uppercase;

	font-size: 12px;

}

.btn-blue a:hover { background: url(../images/mediumButton2.png) bottom left no-repeat; }

.full .left {

	float: left;

	width: 248px;

	height: 262px;

	padding: 40px;

	background: url(../images/bluegradiant-left.png) 50px 200px no-repeat;

}

.full .right {

	width: 578px;

	height: 262px;

	float: right;

	padding: 47px 38px 0 0;

}

#featured-nav {

	width: 944px;

	height: 131px;

	background: url(../images/shadow.gif) bottom center no-repeat;

}

#featured-nav a {

	height: 35px;

	float: left;

	cursor: pointer;

	display: block;

	padding: 47px 20px 20px 120px;

	font-size: 12px;

	line-height: 16px;

	text-decoration: none;

	font-weight: normal;

	color: #777;

}

#featured-nav a span {

	margin-top: 10px;

	height: 30px;

	width: 150px;

	font-size: 12px;

	text-transform: uppercase;

	color: #5aa0b1;

	font-weight: bold;

	position: absolute;

	top: 12px;

	left: 120px;

}

#featured-nav a img {

	position: absolute;

	left: 40px;

	top: 23px;

}

#featured-nav a.left {

	background: url(../images/leftbutton.png) top left no-repeat;

	width: 178px;

	overflow: hidden;

	position: relative;

}

#featured-nav a.left:hover, #featured-nav a.left.activeSlide { background: url(../images/leftbutton.png) bottom left no-repeat; }

#featured-nav a.middle {

	background: url(../images/middlebutton.png) top left no-repeat;

	width: 174px;

	overflow: hidden;

	position: relative;

}

#featured-nav a.middle:hover, #featured-nav a.middle.activeSlide { background: url(../images/middlebutton.png) bottom left no-repeat; }

#featured-nav a.right {

	background: url(../images/rightbutton.png) top left no-repeat;

	width: 172px;

	overflow: hidden;

	position: relative;

}

#featured-nav a.right:hover, #featured-nav a.right.activeSlide { background: url(../images/rightbutton.png) bottom left no-repeat; }

.content-wrapper {

	width: 678px;

	overflow: hidden;

	margin-top: 10px;

	margin-left: 8px;

}

.content-top, .content-bottom {

	height: 10px;

	width: 678px;

	font-size: 1px;

}

.content-top { background: url(../images/content_top.gif) no-repeat; }

.content-bottom { background: url(../images/content_bottom.gif) no-repeat; }

.content {

	width: 596px;

	padding: 30px 40px 40px 40px;

	background: #fff;

	border: solid #b1b1b1 1px;

	border-top: 0;

	border-bottom: 0;

}

.icon-left {

	float: left;

	margin-right: 30px;

}

.icon-right {

	float: right;

	margin-left: 30px;

}

.sidebar {

	float: right;

	width: 213px;

	overflow: hidden;

	margin-top: 10px;

	padding-right: 8px;

}

.bubble {

	background: url(../images/bubble.gif) no-repeat;

	height: 41px;

	width: 213px;

	text-align: center;

	font-size: 26px;

	padding-top: 5px;

	margin-bottom: 20px;

}

#footer {

	padding: 20px 40px 20px 40px;

	background:  #00a3cb url(../images/footer.gif) no-repeat;

	color: #fff;

	margin-left: 8px;

	margin-right: 8px;

	margin-top: 30px;

}

#footer-nav { float: right; }

#footer a {

	color: #fff;

	text-decoration: none;

}

#page-header {

	background: url(../images/header.gif) no-repeat;

	height: 35px;

	width: 864px;

	padding: 15px 40px 0 40px;

	color: #FFF;

	overflow: hidden;

	margin-left: 8px;

}

.title {

	float: left;

	margin-right: 20px;

	margin-top: -1px;

	height: 22px;

}

.title h2 { font-size: 24px; }

.divider-blue {

	background: url(../images/cyanbluediv.gif) repeat-y;

	width: 2px;

	height: 25px;

	float: left;

	margin-right: 20px;

	margin-top: -2px;

}

.divider-gray {

	background: url(../images/whitegraydiv.gif) repeat-y;

	width: 2px;

	height: 10px;

	float: left;

}

#page-sub-header {

	border: solid #c0c0c0 1px;

	width: 864px;

	height: 21px;

	background: #DDD;

	padding: 9px 39px 0 39px;

	margin-left: 8px;

	font-size: 11px;

}

#page-sub-header a {

	text-decoration: none;

	color: #636363;

	font-weight: normal;

	padding-right: 22px;

	background: url(../images/whitegraydiv.gif) repeat-y right;

	margin-right: 20px;

}

#page-sub-header a#last { background: 0; }

#main-body {

	width: 944px;

	overflow: hidden;

	margin-left: 8px;

	background: url(../images/content_bg.gif) repeat-y;

	clear: both;

}

#left-body {

	float: left;

	width: 576px;

	padding: 40px;

}

.portfolio-image img {

	border: solid #c6c6c6 3px;

	margin-left: -3px;

	margin-bottom: 20px;

}

.divider {

	background: #c0c0c0;

	height: 1px;

	width: 100%;

	margin: 30px 0 30px 0;

}

#right-body {

	float: right;

	width: 200px;

	padding: 40px 48px 40px 40px;

}

#right-body ul { padding-left: 20px; }

.ads {

	width: 178px;

	padding: 15px 15px 0 15px;

	background: #fff;

	border: solid #b4b4b4 1px;

	margin-bottom: 30px;

}

.ads img { margin-bottom: 15px; }

#main-body-bottom {

	background: url(../images/content_bottom_bar.gif) no-repeat;

	height: 26px;

	width: 944px;

	line-height: 1;

	margin-left: 8px;

}

.clear { 

	clear: both; 

	line-height: 1px;

	font-size: 1px;

	height: 0;

}

hr {

	width: 100%;

	color: white;

	border: 0;

	border-bottom: 1px solid #cccccc;

	clear: both;

	margin: 30px 0 30px 0;

}

.inputfield {

	background: url(../images/inputfield.jpg) repeat-x #fff;

	border: solid #c6c6c6 1px;

	color: #777;

	padding: 10px;

	margin: 15px 0 15px 0;

	width: 250px;

}

.inputfield:focus { border: solid #30bbde 1px; }

textarea {

	background: url(../images/inputfield.jpg) repeat-x #fff;

	border: solid #c6c6c6 1px;

	color: #777;

	padding: 10px;

	margin: 15px 0 0 0;

}

textarea:focus { border: solid #30bbde 1px; }

#submit {

	width: 150px;

	height: 28px;

	margin-top: 10px;

	margin-bottom: 30px;

	padding-bottom: 2px;

	color: #fff;

	border: 0;

	cursor:pointer;

	background: #30bbde;

	text-transform: uppercase;

	font-weight: bold;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 12px;

}

.blog-details {

	float: left;

	height: 25px;

	margin: 0 10px 20px 0;

	background: url(../images/left_gray.gif) no-repeat;

}

.blog-details span {

	float: left;

	height: 25px;

	color: #fff;

	margin-left: 9px;

	font-weight: bold;

	padding: 5px 10px 8px 1px;

	background: url(../images/right_gray.gif) top right no-repeat;

}

.blog-details.blue { background: url(../images/left_blue.gif) no-repeat; }

.blog-details.blue span { background: url(../images/right_blue.gif) top right no-repeat; }

.blog-image {

	float: left;

	margin: 0 20px 10px 0;

}

h1 a { text-decoration: none; }



div#left-body div#main ul#response li {

	text-align: left;

	color: #be4a4a;

	padding: 0 0 0 1em;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 14px;

	line-height: 18px;

	margin-top: 10px;

}

div#main ul#response li#success {

	color: #5B9CA8;

}



#main img.loaderIcon {

	position: absolute;

	top: 58em;

	right: 70em;

}

#comments {

	width: 444px;

}



#customerMessage {

	width: 444px;

}



.error {

    margin: 15px 0;

    color: #5858FA;  

    padding: 8px 10px 8px 10px;

    background: #A9A9F5;

    border: 1px solid #8181F7;

} 

#buttonsend {

	width: 150px;

	height: 28px;

	margin-top: 10px;

	margin-bottom: 30px;

	padding-bottom: 2px;

	color: #fff;

	border: 0;

	cursor:pointer;

	background: #30bbde;

	text-transform: uppercase;

	font-weight: bold;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 12px;

}



/** ///////////////////////////////////////// **/  

/** / CONTACT FORM ****************************/

/** /////////////////////////////////////// **/  



/* Add curved borders to various elements */



#contactForm, .statusMessage, input[type="submit"], input[type="button"] {

  -moz-border-radius: 10px;

  -webkit-border-radius: 10px;  

  border-radius: 10px;

}



/* The form dimensions */



#contactForm {

  width: 30em;

  height: 37em;

  padding: 0 1.5em 1.5em 1.5em;

  margin: 0 auto;

}





/* Position the form in the middle of the window (if JavaScript is enabled) */



#contactForm.positioned {

  position: fixed;

  top: 0;

  bottom: 0;

  left: 0;

  right: 0;

  margin-top: auto;

  margin-bottom: auto;

}





/* Dimensions and position of the status messages */



.statusMessage {

  display: none;

  margin: auto;

  width: 30em;

  height: 2em;

  padding: 1.5em;

  position: fixed;

  top: 0;

  bottom: 0;

  left: 0;

  right: 0;

}



.statusMessage p {

  text-align: center;

  margin: 0;

  padding: 0;

}





/* Give form elements consistent margin, padding and line height */



#contactForm ul {

  list-style: none;

  margin: 0;

  padding: 0;

}



#contactForm ul li {

  margin: .9em 0 0 0;

  padding: 0;

}



#contactForm input, #contactForm label {

  line-height: 1em;

}





/* The field labels */



label {

  display: block;

  float: left;

  clear: left;

  text-align: right;

  width: 28%;

  padding: .4em 0 0 0;

  margin: .15em .5em 0 0;

  font-weight: bold;

}





/* The fields */



input, textarea {

  display: block;

  margin: 0;

  padding: .4em;

  width: 67%;

  font-family: "Georgia", serif;

  font-size: 1em;

  border: 1px solid #aaa;

  -moz-border-radius: 5px;

  -webkit-border-radius: 5px;    

  border-radius: 5px;

  -moz-box-shadow: rgba(0,0,0,.2) 0 1px 4px inset;

  -webkit-box-shadow: rgba(0,0,0,.2) 0 1px 4px inset;

  box-shadow: rgba(0,0,0,.2) 0 1px 4px inset;

  background: #fff;

}



textarea {

  height: 13em;

  line-height: 1.5em;

  resize: none;

}





/* Place a border around focused fields, and hide the inner shadow */



#contactForm *:focus {

  border: 1px solid #66f;

  outline: none;

  box-shadow: none;

  -moz-box-shadow: none;

  -webkit-box-shadow: none;

}





/* Display correctly filled-in fields with a green background */



input:valid, textarea:valid {

  background: #dfd;

}



/* Header/footer boxes */



.wideBox {

  clear: both;

  text-align: center;

  margin: 70px;

  padding: 10px;

  background: #ebedf2;

  border: 1px solid #333;

}



.wideBox h1 {

  font-weight: bold;

  margin: 20px;

  color: #666;

  font-size: 1.5em;

}



/** ///////////////////////////////////////// **/  

/** / CONTACT FORM END*************************/

/** /////////////////////////////////////// **/