/* SITE5 WORDPRESS THEME BUTTON TYPES */

/* ------- Default Sliding Door Buttons ------- */
.button_link{
    display: inline-block;
    text-decoration: none !important;
    line-height:11px;
    font-size: 15px;
    font-family: "Open Sans", Arial, Verdana;
    font-style: normal;
    padding: 7px 12px 9px 12px;
    margin: 5px 10px 5px 0;
    -webkit-transition: all 0.2s ease,top 0ms linear;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}


.button_link.large_button{
    font-size: 18px;
    font-family: "Open Sans", Arial, Verdana;
    font-style: normal;
    padding: 11px 14px 12px 14px;
    -webkit-transition: all 0.2s ease,top 0ms linear;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.button_link:hover{text-decoration:none !important; color: #fff; opacity: 1 !important;   -webkit-transition: all 0.2s ease,top 0ms linear; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; -ms-transition: all 0.2s ease; transition: all 0.2s ease;}

/* New S5 buttons styles */

.blue{
    color: #1bc4de;
    border: 3px solid #1bc4de;
}

.blue:hover{ background: #1bc4de; }

.light_blue{
    color: #77a6ee;
    border: 3px solid #77a6ee;
}

.light_blue:hover{ background: #77a6ee; }

.dark_blue{
    color: #2a61be;
    border: 3px solid #2a61be;
}

.dark_blue:hover{ background: #2a61be; }

.orange{
    color: #f7612d;
    border: 3px solid #f7612d;
}

.orange:hover{ background: #f7612d; }

.light_orange{
    color: #ea6f21;
    border: 3px solid #ea6f21;
}

.light_orange:hover{ background: #ea6f21; }

.dark_orange{
    color: #d73300;
    border: 3px solid #d73300;
}

.dark_orange:hover{ background: #d73300; }

.green{
    color: #7ab317;
    border: 3px solid #7ab317;
}

.green:hover{ background: #7ab317; }

.light_green{
    color: #85cf4a;
    border: 3px solid #85cf4a;
}

.light_green:hover{ background: #85cf4a; }

.dark_green{
    color: #03997e;
    border: 3px solid #03997e;
}

.dark_green:hover{ background: #03997e; }

.red{
    color: #d90102;
    border: 3px solid #d90102;
}

.red:hover{ background: #d90102; }

.light_red{
    color: #ff0000;
    border: 3px solid #ff0000;
}

.light_red:hover{ background: #ff0000; }

.dark_red{
    color: #840000;
    border: 3px solid #840000;
}

.dark_red:hover{ background: #840000; }

.yellow{
    color: #ffb141;
    border: 3px solid #ffb141;
}

.yellow:hover{ background: #ffb141; }

.light_yellow{
    color: #f7c600;
    border: 3px solid #f7c600;
}

.light_yellow:hover{ background: #f7c600; }

.dark_yellow{
    color: #ff9600;
    border: 3px solid #ff9600;
}

.dark_yellow:hover{ background: #ff9600; }

.gray{
    color: #718da3;
    border: 3px solid #718da3;
}

.gray:hover{ background: #718da3; }

.light_gray{
    color: #adaaad;
    border: 3px solid #adaaad;
}

.light_gray:hover{ background: #adaaad; }

.dark_gray{
    color: #2d2d2d;
    border: 3px solid #2d2d2d;
}

.dark_gray:hover{ background: #2d2d2d; }

.purple{
    color: #7d3ae1;
    border: 3px solid #7d3ae1;
}

.purple:hover{ background: #7d3ae1; }

.violet{
    color: #d34c92;
    border: 3px solid #d34c92;
}

.violet:hover{ background: #d34c92; }

.crimson{
    color: #d84d5a;
    border: 3px solid #d84d5a;
}

.crimson:hover{ background: #d84d5a; }

.cyan{
    color: #4dd0d8;
    border: 3px solid #4dd0d8;
}

.cyan:hover{ background: #4dd0d8; }

.pink{
    color: #f96184;
    border: 3px solid #f96184;
}

.pink:hover{ background: #f96184; }

.brown{
    color: #7c5d3b;
    border: 3px solid #7c5d3b;
}

.brown:hover{ background: #7c5d3b; }

.olive{
    color: #716c4c;
    border: 3px solid #716c4c;
}

.olive:hover{ background: #716c4c; }