/* SITE5 WORDPRESS THEME SOCIAL ICONS */

.social_link{
    width: 27px;
    height: 27px;
    text-indent: -10000px;
    position: relative;
    display: block;
    float: left;
    line-height:11px;
    margin-left: 3px;
    margin-bottom: 3px;
}
.social_link:hover{
    background-position: bottom;
    opacity: 1;
    transition: all 0.3s linear 0s;
}

.facebook { background: url("../images/social-icons/facebook.png") top no-repeat; transition: all 0.3s linear 0s; opacity: 0.5; }
.twitter { background: url("../images/social-icons/twitter.png") top no-repeat; transition: all 0.3s linear 0s; opacity: 0.5; }
.google { background: url("../images/social-icons/google.png") top no-repeat; transition: all 0.3s linear 0s; opacity: 0.5; }
.dribbble { background: url("../images/social-icons/dribbble.png") top no-repeat; transition: all 0.3s linear 0s; opacity: 0.5; }
.vimeo { background: url("../images/social-icons/vimeo.png") top no-repeat; transition: all 0.3s linear 0s; opacity: 0.5; }
.skype { background: url("../images/social-icons/skype.png") top no-repeat; transition: all 0.3s linear 0s; opacity: 0.5; }
.linkedin { background: url("../images/social-icons/linkedin.png") top no-repeat; transition: all 0.3s linear 0s; opacity: 0.5; }
.pinterest { background: url("../images/social-icons/pinterest.png") top no-repeat; transition: all 0.3s linear 0s; opacity: 0.5; }
.livejournal { background: url("../images/social-icons/livejournal.png") top no-repeat; transition: all 0.3s linear 0s; opacity: 0.5; }
.tumblr { background: url("../images/social-icons/tumblr.png") top no-repeat; transition: all 0.3s linear 0s; opacity: 0.5; }
.behance { background: url("../images/social-icons/behance.png") top no-repeat; transition: all 0.3s linear 0s; opacity: 0.5; }
.paypal { background: url("../images/social-icons/paypal.png") top no-repeat; transition: all 0.3s linear 0s; opacity: 0.5; }
.instagram { background: url("../images/social-icons/instagram.png") top no-repeat; transition: all 0.3s linear 0s; opacity: 0.5; }
.delicious { background: url("../images/social-icons/delicious.png") top no-repeat; transition: all 0.3s linear 0s; opacity: 0.5; }
.digg { background: url("../images/social-icons/digg.png") top no-repeat; transition: all 0.3s linear 0s; opacity: 0.5; }
.rss { background: url("../images/social-icons/rss.png") top no-repeat; transition: all 0.3s linear 0s; opacity: 0.5; }