/* SITE5 WORDPRESS THEME TOGGLE */
#content article #toggle-view
{

	list-style:none;
	margin: 20px 0 0!important;
	padding-bottom:20px;
}

#content article #toggle-view li
{
	background:#FFF;
	border-bottom: 1px solid #EFEFEF;
	border-radius: 0;
	cursor:pointer;
	list-style:none;
	margin: 10px 0;
	padding: 0 15px 0 42px;
	position:relative;
}

#content article #toggle-view li h5{
    margin-bottom: 10px;
}

#content article #toggle-view span
{
	color:#F60B51;
	font-size:16px;
	left:8px;
	position:absolute;
	top:7px;
}

#content article #toggle-view p
{
	display:none;
	margin:15px 0;
}

.toggle-indicator{
    background: url("../images/toggle/icon-plus.png") center no-repeat;
    width: 25px;
    height: 25px;
    margin-top: -10px;
    margin-left: -7px;
}

.toggle-indicator-plus{
    background: url("../images/toggle/icon-plus.png") center no-repeat;
    width: 25px;
    height: 25px;
    margin-top: -10px;
    margin-left: -7px;
}

.toggle-indicator-minus{
    background: url("../images/toggle/icon-minus.png") center no-repeat;
    width: 25px;
    height: 25px;
    margin-top: -10px;
    margin-left: -7px;
}