/* ---------------------------------------------------------------------- */
/* VIOLET
/*
/*
/* Accent color: #d34c92;

/* Page background: #FFFFFF;
/* ---------------------------------------------------------------------- */

/* ---------------------------------------------------------------------- */
/* COLORS 
/* ---------------------------------------------------------------------- */

/* ---------------------------------------------------------------------- */
/* EACH PAGE TITLE & DESCRIPTION STYLE
/* ---------------------------------------------------------------------- */

h1 span {
    color: #444444;
}

h2 span strong {
    color: #d34c92;
    font-weight: normal;
}

#page {
    background-color: transparent;
}

::-moz-selection {
    background-color: #d34c92;
    color: #fff;
}

::selection {
    background-color: #d34c92;
    color: #fff;
}

a:hover, a > *:hover,
.categories a:hover,
#footer .widget-container li a:hover   {
    color: #d34c92;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color:#444444;
}

p {
    color: #acaeae;
}

a, a > * {
    color: #d34c92;
    font-weight: normal;
    font-style: normal;
    font-family: 'Open Sans', 'sans-serif';
}

a.twitter-action{
    color: #888989;
}

a.twitter-action:hover {
    color: #d34c92;
}

#logo {

}

.flex-direction-nav li a:hover {
    background-color: #d34c92;
}

.colored,
.flex-caption h3,
.intro-page h2 strong,
#footer h4,
#copyrights a {
    color: #d34c92;
}

.readmore a{ border: 3px solid #d34c92; color: #d34c92; }
.readmore a:hover { background: #d34c92; color: #fff; }
.readmore.large a { border: 3px solid #d34c92; color: #d34c92;}
.readmore.large a:hover {background: #d34c92; color: #fff;}
.button { color: #d34c92; border: 3px solid #d34c92;}
.button:hover { color: #fff; background: #d34c92;}

#slider_container {
    border-bottom: none !important;
}

.horizontal-line{
    height: 2px;
    width: 100%;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}

.divider {
    border-top: 1px solid #ececec;

}

#access ul li.current_page_item > a,
#access ul li.current-menu-ancestor > a,
#main-navigation ul li.current-menu-item > a {
    border-top: 5px solid #d34c92;
    z-index: 2;
}


#main-navigation ul li a:hover {
    color: #d34c92;
}

#main-navigation ul ul a:hover,
#main-navigation ul ul .hover > a,
#main-navigation ul ul .current > a,
#main-navigation ul ul .current > a:hover {
    background-color: #4c4c4c;
    color: #fff;
    border: 0;
}

#main-navigation ul ul a:hover, #main-navigation ul ul .hover > a, #main-navigation ul ul .current-menu-item > a, #main-navigation ul ul .current-menu-item > a:hover {
    background-color: #d34c92;
    color: #fff;
    border: none;
}

#responsive-main-nav-wrapper { background-color: #d34c92; }


ul#projects-carousel li .item-content p a {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    color: #444444;
    font-family: 'Open Sans','Oswald', 'sans-serif';
    line-height: 100%;
}

ul#projects-carousel li span {
    color: #ACAEAE;
    font-style: normal;
    font-weight: 300;
    font-family: 'Open Sans', 'sans-serif';
}

ul#projects-carousel li .item-content:hover {
    border-bottom: 1px solid #d34c92;
}

.jcarousel-next, .jcarousel-prev {
    background-color: #cecdcd;
}

.jcarousel-next:hover, .jcarousel-next:focus, .jcarousel-next:active, .jcarousel-prev:hover, .jcarousel-prev:focus, .jcarousel-prev:active {
    background-color: #d34c92;
}

.jcarousel-next-disabled, .jcarousel-next-disabled:hover, .jcarousel-next-disabled:focus, .jcarousel-next-disabled:active, .jcarousel-prev-disabled, .jcarousel-prev-disabled:hover, .jcarousel-prev-disabled:focus, .jcarousel-prev-disabled:active {
    background-color: #dddddd;
}

.sidebarBox li:first-child {
    border-top: 1px dotted #E1E1E1;
}

.sidebarBox li {
    border-bottom: 1px dotted #E1E1E1;
}

#pagination span, #pagination a {

}

#search-wrapper-right #s{
    background-color: #d34c92;
}

.filterable li.active a {
    background-color: #d34c92;
}

.filterable li a:hover {
    color: #FFF;
    background: #d34c92;
    border: 1px solid #d34c92;
    box-shadow: none;
    transition: all 0.1s ease-in-out 0s;
}

.filterable li.active a {
    color: #FFF;
    background: #d34c92;
    box-shadow: none;
    border: 1px solid #d34c92;
}

#respond  input[type="text"]:focus,
#respond  input[type="password"]:focus,
#respond  input[type="email"]:focus,
#respond  input.text:focus,
#respond  input.title:focus,
#respond  textarea:focus,
#respond  select:focus,
#contactForm input[type="text"]:focus,
#contactForm input[type="password"]:focus,
#contactForm  input[type="email"]:focus,
#contactForm  textarea:focus {
    background-color: #FFFFFF;
    border: 1px solid  #edebeb;
    box-shadow:  -5px -5px 0 0 #F7F7F7, 5px 5px 0 0 #F7F7F7, 5px 0 0 0 #F7F7F7, 0 5px 0 0 #F7F7F7, 5px -5px 0 0 #F7F7F7, -5px 5px 0 0 #F7F7F7;
    color: #888888;
    font-size: 12px;
}

.hentry blockquote {
    border-bottom: 1px solid #d34c92;
}

#tabscontainer {
    clear: both;
}
/* ---------------------------------------------------------------------- */
/* Blog Style Posts
/* ---------------------------------------------------------------------- */
.post-author a {
    color: #BFBFBF;
}

.post-author a:hover {
    color: #d34c92;
}

.tags a:hover {
    color: #d34c92;
}

.comments-link a:hover {
    color: #d34c92;
}

.comment-reply-link {
    display: block;
    clear: none;
    float: right;
    font-size: 12px;
    margin-top: 15px;
    margin-left:5px;
    color: #d34c92;
}
.post-author {
    background: url(images/icon_author.png) no-repeat scroll  0 13px;
}

.post-date {
    background: url(images/icon_date.png) no-repeat scroll  0 4px;
}

.tags {
    background: url(images/tag_icon.png) no-repeat scroll  0 4px;
}

.comments-link {
    background: url(images/icon_comments.png) no-repeat scroll  0 4px;
}

.icon-video:hover{
    background-color: #d34c92;
    opacity: 0.5;
}
.icon-gallery:hover{
    background-color: #d34c92;
    opacity: 0.5;
}
.icon-aside:hover{
    background-color: #d34c92;
    opacity: 0.5;
}
.icon-standard:hover{
    background-color: #d34c92;
    opacity: 0.5;
}
.icon-quote:hover{
    background-color: #d34c92;
    opacity: 0.5;
}
.icon-image:hover{
    background-color: #d34c92;
    opacity: 0.5;
}
.icon-link:hover{
    background-color: #d34c92;
    opacity: 0.5;
}
/* ---------------------------------------------------------------------- */
/* Footer
/* ---------------------------------------------------------------------- */
#footer h4 {
    color: white;
    font-size: 16px;
}
/* ---------------------------------------------------------------------- */
/* Images
/* ---------------------------------------------------------------------- */
.portfolio-item-hover-content a.zoom {
    background-image: url("images/zoom-plus.png");
}

.portfolio-item-hover-content a.zoom:hover {
    background-image: url("images/zoom-plus.png");
    opacity: 0.6;
    transition: all 0.2s ease 0s;
}

.portfolio-item-hover-content a.full-width-link {
    background-image: url("images/full-width-link.png");
}

.portfolio-item-hover-content a.full-width-link:hover  {
    background-image: url("images/full-width-link.png");
    opacity: 0.6;
    transition: all 0.2s ease 0s;
}

ul#portfolio-items-one-fourth li .item-content:hover{ border-bottom: 1px solid #d34c92; }
ul#portfolio-items-one-third li .item-content:hover{ border-bottom: 1px solid #d34c92 !important; }
ul#portfolio-items-one-half li .item-content:hover{ border-bottom: 1px solid #d34c92 !important; }

.caddress {
    background: url("images/icons/c-address.png") no-repeat 0 -3px;
    padding: 0 0 0 30px;
}

.cphone {
    background: url("images/icons/c-phone-number.png") no-repeat 0 -2px;
    padding: 0 0 0 30px;
}

.cfax {
    background: url("images/icons/c-fax.png") no-repeat 2px 0;
    padding: 0 0 0 30px;
}

.cemail {
    background: url("images/icons/c-mail-address.png") no-repeat 0 -1px;
    padding: 0 0 0 30px;
}

.portfolio-item-hover-content .hover-options {
    display: block;
    font-style: normal;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    top: 0;
    left: 0;
    background: #fff url("images/portfolio-hover-bg.png") repeat;
    opacity: 0;
    filter: alpha(opacity:0);
    cursor: pointer;
}

.author {
    border-bottom: none;
    padding:20px;
    margin-bottom: 10px;
    clear: both;
    background: #fafafa;
    border: 1px solid #ededed;
}

.project-pagination .project-pagination-next a:hover {
    background-color: #d34c92;
    transition: background-color 0.2s ease 0s, border 0.2s ease 0s, color 0.2s ease 0s, opacity 0.2s ease-in-out 0s;
}

.project-pagination .project-pagination-prev a:hover {
    background-color: #d34c92;
    transition: background-color 0.2s ease 0s, border 0.2s ease 0s, color 0.2s ease 0s, opacity 0.2s ease-in-out 0s;
}

.widget_site5framework_contact_widget span.address {
    background-image: url("images/icons/adress.png");
}

.widget_site5framework_contact_widget span.phone {
    background-image: url("images/icons/phone-number.png");
}

.widget_site5framework_contact_widget span.email {
    background-image: url("images/icons/mail-adress.png");
}

.dropcapfancy {
    background: #d34c92;
    color:#FFF;
    font-family:'Terminal Dosis','Arial',sans-serif;
    font-size:22px;
    line-height:35px;
    height:35px;
    width:35px;
    border-radius:100px;
    -moz-border-radius:100px;
    -webkit-border-radius:100px;
}

.flex-direction-nav li a.next:hover{ background-color: #d34c92;}
.flex-direction-nav li a.prev:hover{ background-color: #d34c92;}


/*------------------shortcodes & others----------------*/
.pricing-box-list-box #on .pricing-heading {
    background: #d34c92;
}

#content article
#toggle-view .toggle-indicator{
    background-color: #d34c92;
}

html ul.tabs li.active{
    border-top: 2px solid #d34c92;
    color: #d34c92 !important;
}

.tp-leftarrow.large	{ background-color: #d34c92 !important;}
.tp-rightarrow.large { background-color: #d34c92 !important;}